<template>
  <v-app class="grey-bg">
    <AdminNavbar/>
    <div class="text-xs-center">
      <h1 style="margin-top:90px;">ระบบการเงิน</h1>
    </div>
    <AdminPayment style="margin-top:30px;margin-left:auto;margin-right:auto;"/>
  </v-app>
</template>

<script>
import AdminNavbar from '@/components/AdminNavbar.vue';
import AdminPayment from '@/components/AdminPayment.vue';

export default {
  name: 'AdminPaymentPage',
  components: {
    AdminNavbar,
    AdminPayment,
  },
};
</script>

<style scoped>
.grey-bg {
  background-color: #E5E5E5 !important;
}
</style>
