<template>
  <div class="page">
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>
      <div class="login elevation-5">
        <img class="gashalogo" src="../assets/LuckyLogo.svg">
        <div class="pa-4 vertical-center">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="user" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="password"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn large block dark color="#7455F4" class="my-long-button" depressed @click="login">
              เข้าสู่ระบบ
            </v-btn>
          </v-layout>
        </div>
      </div>
  </div>
</template>

<script>
import AdminService from '../services/AdminService';

export default {
  methods: {
    async login() {
      const obj = {
        username: this.user,
        password: this.password,
      };
      try {
        await AdminService.login(obj);
        this.$router.push({ path: '/admin-coupon' });
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
  data: () => ({
    user: '',
    password: '',
    sntext: '',
    sncolor: '',
    snackbar: false,
    sntimeout: 5000,
  }),
};
</script>

<style scoped>
.page {
  background-color: #767676;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.login {
  position: relative;
  left: 33%;
  width: 33%;
  height: 478px;
  background: white;
  border-radius: 10px;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.my-long-button {
  min-height: 5vh;
}

.vertical-center {
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.bottom {
  background-color: #b9b9b9;
  text-align: center;
}

.header {
  margin-top: 56px;
  margin-bottom: 52px;
}

.gashalogo {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 10px;
}
</style>
