<template>
  <div>
    <AdminNavbar/>
    <AdminCoupon/>
  </div>
</template>

<script>
import AdminNavbar from '@/components/AdminNavbar.vue';
import AdminCoupon from '@/components/AdminCoupon.vue';

export default {
  name: 'AdminCouponPage',
  components: {
    AdminNavbar,
    AdminCoupon,
  },
};
</script>
