<template>

  <div class="page">
    <ShopNav/>

    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-container v-show="page1 && !error" style="padding-top:90px;">
      <div>
        <v-layout column justify-center>
          <h1 class="text-xs-center mb-2">ยืนยันการใช้คูปอง</h1>
          <UseCoupon class="mb-2" :state="this.couponState" :username="this.username" />
          <div class="text-xs-center">
            <v-btn dark color="#7455F4" @click="useCoupon()">ยืนยัน</v-btn>
          </div>
        </v-layout>
      </div>
    </v-container>

    <v-dialog v-model="openLogin" max-width="70vw" pt-5>
      <v-card class="login elevation-5">
        <div class="pa-4 vertical-center">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="userinput" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="passwordinput"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn
              large
              block
              dark
              color="#7455F4"
              class="my-long-button"
              depressed
              @click="login()"
            >เข้าสู่ระบบ</v-btn>
          </v-layout>
        </div>
      </v-card>
    </v-dialog>

    <v-container style="padding-top:90px;" v-show="page2 && !error">
      <v-layout justify-center>
        <h2>ยืนยันการใช้คูปองแล้ว</h2>
      </v-layout>
    </v-container>


    <v-container style="padding-top:90px;" v-if="error">
      <v-layout justify-center>
        <h2>{{this.errorM}}</h2>
      </v-layout>
    </v-container>
  </div>

</template>

<script>
import UseCoupon from '../components/ConfirmUsedCoupon.vue';
import ShopNav from '../components/ShopNavbar.vue';
import ShopService from '../services/ShopService';

export default {
  name: 'UseCouponPage',
  data: () => ({
    page1: false,
    page2: false,
    openLogin: false,
    username: '',
    password: '',
    couponState: {},
    error: false,
    errorM: '',
    userinput: '',
    passwordinput: '',
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  components: {
    UseCoupon,
    ShopNav,
  },
  async mounted() {
    this.coupon_id = this.$route.params.coupon_id;
    this.username = this.$route.params.username;
    try {
      const x = await ShopService.getCouponForUse({ coupon_id: this.coupon_id });
      // eslint-disable-next-line
      this.couponState = x.data[0];
      this.page1 = true;
    } catch (e) {
      this.errorM = e.response.data;
      this.error = true;
      if (e.response.data === 'ไม่มีคูปองนี้ในระบบ') { this.openLogin = false; } else {
        try {
          await ShopService.getUserInfo();
        } catch (error) {
          this.openLogin = true;
        }
      }
    }
  },
  methods: {
    async useCoupon() {
      const obj = {
        coupon_id: this.coupon_id,
      };
      try {
        await ShopService.useCoupon(obj);
        this.page1 = false;
        this.page2 = true;
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async login() {
      const params = {
        username: this.userinput,
        password: this.passwordinput,
      };
      try {
        await ShopService.login(params);
        const y = await this.getUserinfo();
        this.$store.dispatch('changeLoginStatus', true);
        this.$store.dispatch('changeLoginInfo', y);
        this.openLogin = false;
        this.coupon_id = this.$route.params.coupon_id;
        this.username = this.$route.params.username;
        const x = await ShopService.getCouponForUse({ coupon_id: this.coupon_id });
        // eslint-disable-next-line
        this.couponState = x.data[0];
        this.page1 = true;
        this.error = false;
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async getUserinfo() {
      const x = await ShopService.getUserInfo();
      return x.data;
    },
  },
};
</script>

<style scoped>
.page {
  background-color: #E5E5E5;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.login {
  width: 100%;
}
</style>
