<template>
  <div class="bg">
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <Navbar/>

    <div class="white-box elevation-8">
      <img class="gashalogo" src="../assets/LuckyLogo.svg">
      <h1>คูปองของฉัน</h1>
      <div class="parent">

        <CouponCardOwn
          v-for="item in couponCardList"
          :state="item"
          :key="item.coupon_id"
          :username="uname"
          class="child"
          v-show="couponCardList"
        />
        <div text-xs-center v-if="couponCardList.length == 0" class="my-text thai-font my-4">
          ท่านยังไม่มีคูปองในระบบ
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CouponCardOwn from '@/components/CouponCardOwn.vue';
import Navbar from '@/components/Navbar.vue';
import CustomerService from '../services/CustomerService';

export default {
  name: 'CustomerCoupon',
  components: {
    CouponCardOwn,
    Navbar,
  },
  async mounted() {
    try {
      const y = await CustomerService.getInfo();
      this.uname = y.data.username;
      const x = await CustomerService.getCoupon();
      this.couponCardList = x.data;
    } catch (error) {
      if (error.response.data) {
        this.sntext = error.response.data;
      } else {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
      }
      this.sncolor = 'error';
      this.snackbar = true;
    }
  },
  data() {
    return {
      couponCardList: [],
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
      uname: '',
    };
  },
};
</script>

<style scoped>
.bg {
  background:#fce7b2;
  padding-top:80px;
  min-height:100vh;
}

.white-box {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.child {
  flex-basis: 33%;
  margin: 20px auto;
  padding: 0px auto;
}
.my-text {
  font-size:2.5em;
}

@media only screen and (max-width: 800px) {
  .white-box {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding-top:80px;

  }
  .gashalogo {
    visibility: hidden;
    height: 0px;
  }
  .bg {
    padding-top:20px;

  }
}
</style>
