<template>
  <div>
    <Navbar/>
    <GashaponSearch/>
    <GashaponSuggestion/>
    <Howto/>
  </div>
</template>

<script>
import GashaponSearch from '@/components/GashaponSearch.vue';
import Navbar from '@/components/Navbar.vue';
import GashaponSuggestion from '@/components/GashaponSuggestion.vue';
import Howto from '@/components/Howto.vue';

export default {
  name: 'CustomerHome',
  components: {
    Navbar,
    GashaponSearch,
    GashaponSuggestion,
    Howto,
  },
};
</script>
