<template>
  <div style="background:#FCE7B2; padding-bottom:10vh; min-height:100vh;">
    <Navbar/>
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>
    <div class="search-and-title mt-5">
      <p class="thai-font search-headline">ค้นหาตู้กาชาปองอาหาร</p>

      <v-container class="search-box">
        <v-layout row>
          <v-flex xs4 mr-2>
            <p class="filter-title">โซนร้านอาหาร</p>
            <v-select
              :items="locationFilters"
              label="โซนร้านอาหารทั้งหมด"
              class="filters"
              v-model="selectedLocationFilter"
              solo
              prepend-inner-icon="location_on"
            ></v-select>
          </v-flex>

          <v-flex xs4 mr-2>
            <p class="filter-title">ประเภทอาหาร</p>
            <v-select
              :items="typeFilters"
              label="ประเภทอาหารทั้งหมด"
              class="filters"
              v-model="selectedTypeFilter"
              solo
              prepend-inner-icon="restaurant_menu"
            ></v-select>
          </v-flex>

          <v-flex xs4 class="my-flex">
            <p class="filter-title">ราคา</p>
            <v-select
              :items="priceFilters"
              label="ราคาทั้งหมด"
              class="filters"
              v-model="selectedPriceFilter"
              solo
              prepend-inner-icon="local_atm"
            ></v-select>
          </v-flex>

          <div class="mb-2">
            <p class="filter-title hidden">A</p>
            <button class="search-button ml-2 d-flex" @click="getSearchResult()">
              <v-icon dark class="search-icon">search</v-icon>
              <div class="search-button-text">ค้นหาตู้กาชาปอง</div>
            </button>
          </div>
        </v-layout>
      </v-container>
    </div>

    <v-layout row wrap justify-center class="result-box my-5" v-if="gashaResultList.length">
      <div
        v-for="gasha in gashaResultList"
        class="my-2"
        v-bind:key="gasha.gacha_id"
        @click="openCarousel(gasha.gasha_id)"
      >
        <GashaBox :Gasha="gasha" class="gasha-result"/>
      </div>
    </v-layout>

    <v-layout row wrap justify-center class="result-box mt-5 pa-1" v-else>
      <p class="replacer py-3">ขออภัย ไม่มีตู้กาชาปองในระบบ</p>
    </v-layout>

    <v-dialog v-model="openPopup" max-width="60vw" height="100%" pt-5>
      <CouponCarousel :Coupons="CouponList" v-on:openlogin="openLoginPopup"/>
    </v-dialog>

    <v-dialog v-model="openLogin" pt-5 max-width="400px">
      <v-card class="login elevation-5">
        <div class="pa-4 vertical-center">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="user" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="password"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn
              large
              block
              dark
              color="#FFB258"
              class="my-long-button"
              depressed
              @click="login()"
            >เข้าสู่ระบบ</v-btn>
            <v-flex text-xs-center class="mb-3 mt-2">
              <p style="display:inline-block; margin-right:10px;">ยังไม่เป็นสมาชิก?</p>
              <a class="a-black" style="disply:inline-block;">
                <b @click="gotoRegistration()">สมัครสมาชิก</b>
              </a>
            </v-flex>
          </v-layout>
        </div>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import CouponCarousel from '@/components/CouponCarousel.vue';
import CustomerService from '@/services/CustomerService';
import GashaBox from '@/components/GashaBox.vue';
import Navbar from '@/components/Navbar.vue';

export default {
  name: 'CustomerSearch',
  components: {
    CouponCarousel,
    GashaBox,
    Navbar,
  },
  data() {
    return {
      locationFilters: ['โซนร้านอาหารทั้งหมด'],
      priceFilters: ['ราคาทั้งหมด'],
      typeFilters: ['ประเภทอาหารทั้งหมด'],
      selectedLocationFilter: '',
      selectedPriceFilter: '',
      selectedTypeFilter: '',
      gashaResultList: [],
      openPopup: false,
      CouponList: [],
      openLogin: false,
      user: '',
      password: '',
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
      mockVal: false,
    };
  },
  mounted() {
    this.getFilters();
    if (this.$store.getters.getGashaFilter) {
      const x = this.$store.getters.getGashaFilter;
      this.selectedLocationFilter = x.location;
      this.selectedPriceFilter = x.price;
      this.selectedTypeFilter = x.type;
    }
    if (this.$store.getters.getGashaResult) {
      this.gashaResultList = this.$store.getters.getGashaResult;
    }
  },
  methods: {
    async getFilters() {
      const x = await CustomerService.getFilters();
      this.locationFilters = this.locationFilters.concat(x.data.location);
      this.priceFilters = this.priceFilters.concat(x.data.price);
      this.typeFilters = this.typeFilters.concat(x.data.type);
    },
    async getSearchResult() {
      const filters = {
        location: this.selectedLocationFilter,
        price: this.selectedPriceFilter,
        type: this.selectedTypeFilter,
      };
      try {
        const x = await CustomerService.search(filters);
        this.$store.dispatch('changeGashaFilter', filters);
        this.$store.dispatch('changeGashaResult', x.data);
        this.gashaResultList = x.data;
      } catch (error) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    async openCarousel(gashaId) {
      this.$store.dispatch('changeGashaponID', gashaId);
      try {
        const x = await CustomerService.getGashaponCoupon({ gasha_id: gashaId });
        this.CouponList = x.data;
        this.openPopup = true;
      } catch (error) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    openLoginPopup() {
      this.openPopup = false;
      this.openLogin = true;
    },
    gotoRegistration() {
      this.$router.push({ path: 'customer-registration' });
    },
    async login() {
      const params = {
        username: this.user,
        password: this.password,
      };
      try {
        await CustomerService.login(params);
        const y = await this.getUserinfo();
        this.$store.dispatch('changeLoginStatus', true);
        this.$store.dispatch('changeLoginInfo', y);
        this.openLogin = false;
        // TODO Find better way to reload
        // eslint-disable-next-line
        location.reload(); 
      } catch (error) {
        this.sntext = error.response.data;
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    async getUserinfo() {
      const x = await CustomerService.getInfo();
      return x.data;
    },
  },
};
</script>

<style scoped>
.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}

.filter-title {
  font-size: 20px;
}

.hidden {
  visibility: hidden;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.search-box {
  background: rgba(255, 255, 255, 0.44);
  border-radius: 4px;
  mix-blend-mode: normal;
  padding: 9px 14px 14px 16px;
  width: 60vw;
}

.search-button {
  background: #ffb258;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  color: white !important;
  display: flex;
  height: 48px !important;
  min-width: 48px !important;
  outline: none;
  transition: 0.3s;
}

.search-button:active {
  background: #ef6c00;
}

.search-button:hover {
  background: #f57c00;
}

.search-button:visited {
  opacity: 0.5;
}

.search-button-text {
  display: none;
}

.search-and-title {
  margin: 5vh auto 0 auto;
  max-width: 75vw;
}

.search-headline {
  font-size: 2em;
  font-weight: 500;
  margin-left: 10%;
  padding-top: 10vh;
  padding-left: 50px;
}

.replacer {
  font-size: 2em;
}

.result-box {
  background: white;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media only screen and (max-width: 800px) {
  .gasha-result {
    background: white;
  }

  .search-and-title {
    display: none;
  }

  .replacer {
    font-size: 1.5em;
    background: white;
    padding: 15px;
  }

  .result-box {
    padding-top: 100px !important;
    background-color: #fce7b2;
  }
}
</style>
