<template>
  <div class="outer-div py-5">
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="closeSnackbar()" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <div class="inner-div pt-4 pb-3 elevation-5">
      <v-layout row>
        <img src="../assets/LuckyLogo.svg" alt="Logo" class="logo">
      </v-layout>

      <v-container v-show="page1" class="py-1 px-5 mt-2" grid-list-xl>
        <v-layout column class="page1">
          <div class="my-2">
            <p class="registration-subhead">ชื่อผู้ใช้ *</p>
            <p id="username-error" class="d-none">
              ชื่อผู้ใช้ต้องเป็นตัวอักษรอังกฤษที่มีความยาว 4-32
            </p>
          </div>
          <input
            id="username-input"
            class="registration-input pl-3 mb-2"
            placeholder="ชื่อผู้ใช้"
            v-model="username"
          >
          <div class="my-2">
            <p class="registration-subhead">อีเมล *</p>
            <p id="email-error" class="d-none">รูปแบบอีเมลไม่ถูกต้อง</p>
          </div>
          <input
            id="email-input"
            class="registration-input pl-3 mb-2"
            placeholder="อีเมล"
            v-model="email"
          >
          <div class="my-2">
            <p class="registration-subhead">รหัสผ่าน *</p>
            <p id="password-error" class="d-none">
              รหัสเป็นอักษรภาษาอังกฤษหรือตัวเลขความยาว 6-32
            </p>
          </div>
          <input
            id="password-input"
            class="registration-input pl-3 mb-2"
            placeholder="รหัสผ่าน"
            v-model="password"
            type="password"
          >
          <div class="my-2">
            <p class="registration-subhead">ยืนยันรหัสผ่าน *</p>
            <p id="cpassword-error" class="d-none">รหัสผ่านไม่ตรงกับที่ให้ไว้</p>
          </div>
          <input
            id="cpassword-input"
            class="registration-input mb-3 pl-3"
            placeholder="ยืนยันรหัสผ่าน"
            v-model="cpassword"
            type="password"
          >
          <v-btn dark color="#FFB258" block class="my-long-button" @click="gotoPage2(1)">
            ถัดไป
          </v-btn>
        </v-layout>
      </v-container>

      <v-container v-show="page2" class="py-1 px-5 mt-3" grid-list-xl>
        <v-layout column class="page2">
          <v-flex xs12 text-xs-center>
            <p class="display-1 mb-0">
              <b>ข้อมูลผู้ใช้</b>
            </p>
          </v-flex>
          <div>
            <p class="registration-subhead">ชื่อ *</p>
            <p id="fname-error" class="d-none">ชื่อต้องเป็นตัวอักษรอังกฤษหรือไทย</p>
          </div>
          <input
            id="fname-input"
            class="registration-input pl-3 mb-2"
            placeholder="ชื่อ"
            v-model="fname"
          >
          <div class="my-2">
            <p class="registration-subhead">นามสกุล *</p>
            <p id="lname-error" class="d-none">นามสกุลต้องเป็นตัวอักษรอังกฤษหรือไทย</p>
          </div>
          <input
            id="lname-input"
            class="registration-input pl-3 mb-2"
            placeholder="นามสกุล"
            v-model="lname"
          >
          <div class="my-2">
            <p class="registration-subhead">เบอร์ติดต่อ</p>
            <p id="tel-error" class="d-none">เบอร์ติดต่อเป็นตัวเลข 10 หลัก ไม่มีอักษรพิเศษ</p>
          </div>
          <input
            id="tel-input"
            class="registration-input mb-4 pl-3 mb-2"
            placeholder="เบอร์ติดต่อ"
            v-model="tel"
          >
          <v-layout justify-end pr-1>
            <v-btn color="white" @click="gotoPage1()">ย้อนกลับ</v-btn>
            <v-btn dark color="#FFB258" @click="register()">สมัครสมาชิก</v-btn>
          </v-layout>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import { TweenMax, Power1 } from 'gsap/TweenMax';
import CustomerService from '../services/CustomerService';

export default {
  name: 'CustomerRegistration',
  data: () => ({
    page1: true,
    page2: false,
    username: '',
    email: '',
    password: '',
    cpassword: '',
    fname: '',
    lname: '',
    tel: '',
    confirm: {
      username: false,
      password: false,
      cpassword: false,
      fname: false,
      lname: false,
      tel: false,
    },
    snackbar: false,
    sncolor: 'success',
    sntimeout: 5000,
    sntext: '',
    enableReturn: false,
  }),
  watch: {
    username(val) {
      const pattern = /^[A-Za-z]{4,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('username-error').className = 'hide d-none';
        document
          .getElementById('username-input')
          .classList.remove('error-input');
        this.confirm.username = val !== '';
      } else {
        document.getElementById('username-error').className = 'error-message';
        document.getElementById('username-input').classList.add('error-input');
      }
    },
    email(val) {
      const pattern = /^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,})$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('email-error').className = 'hide d-none';
        document.getElementById('email-input').classList.remove('error-input');
        this.confirm.email = val !== '';
      } else {
        document.getElementById('email-error').className = 'error-message';
        document.getElementById('email-input').classList.add('error-input');
      }
    },
    password(val) {
      const pattern = /^[A-Za-z0-9]{6,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('password-error').className = 'hide d-none';
        document
          .getElementById('password-input')
          .classList.remove('error-input');
        this.confirm.password = val !== '';
      } else {
        document.getElementById('password-error').className = 'error-message';
        document.getElementById('password-input').classList.add('error-input');
      }
    },
    cpassword(val) {
      if (val === this.password || val === '') {
        document.getElementById('cpassword-error').className = 'hide d-none';
        document
          .getElementById('cpassword-input')
          .classList.remove('error-input');
        this.confirm.cpassword = val !== '';
      } else {
        document.getElementById('cpassword-error').className = 'error-message';
        document.getElementById('cpassword-input').classList.add('error-input');
      }
    },
    fname(val) {
      const pattern = /^[A-Za-zก-๙]{2,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('fname-error').className = 'hide d-none';
        document.getElementById('fname-input').classList.remove('error-input');
        this.confirm.fname = val !== '';
      } else {
        document.getElementById('fname-error').className = 'error-message';
        document.getElementById('fname-input').classList.add('error-input');
      }
    },
    lname(val) {
      const pattern = /^[A-Za-zก-๙]{2,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('lname-error').className = 'hide d-none';
        document.getElementById('lname-input').classList.remove('error-input');
        this.confirm.lname = val !== '';
      } else {
        document.getElementById('lname-error').className = 'error-message';
        document.getElementById('lname-input').classList.add('error-input');
      }
    },
    tel(val) {
      const pattern = /^[0-9]{10,10}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('tel-error').className = 'hide d-none';
        document.getElementById('tel-input').classList.remove('error-input');
        this.confirm.tel = true;
      } else {
        document.getElementById('tel-error').className = 'error-message';
        document.getElementById('tel-input').classList.add('error-input');
      }
    },
  },

  methods: {
    gotoHome() {
      this.$router.push({ name: 'home' });
    },
    gotoPage1() {
      this.page2 = false;
      this.page1 = true;
      const x = document.getElementsByClassName('page1');
      TweenMax.from(x, 0.5, { x: -300, ease: Power1.easeOut, autoAlpha: 0.5 });
    },
    gotoPage2(direction) {
      if (this.confirm.username && this.confirm.password && this.confirm.cpassword) {
        this.page1 = false;
        this.page2 = true;
        const x = document.getElementsByClassName('page2');
        if (direction === 0) {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: -300,
            ease: Power1.easeOut,
          });
        } else {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: 300,
            ease: Power1.easeOut,
          });
        }
      } else {
        this.sntext = 'แบบฟอร์มมีปัญหา โปรดตรวจสอบอีกรอบ';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    async register() {
      if (Object.values(this.confirm).every(item => item)) {
        const Obj = {
          username: this.username,
          email: this.email,
          password: this.password,
          fname: this.fname,
          lname: this.lname,
          telephone: this.tel,
        };
        try {
          await CustomerService.register(Obj);
          this.sntext = 'ระบบได้สร้างบัญชีของคุณแล้ว';
          this.sncolor = 'success';
          this.snackbar = true;
          this.enableReturn = true;
          this.sntimeout = 60000;
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      } else {
        this.sntext = 'แบบฟอร์มมีปัญหา โปรดตรวจสอบอีกรอบ';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    closeSnackbar() {
      this.snackbar = false;
      if (this.enableReturn) {
        this.$router.push({ name: 'home' });
      }
    },
  },
};
</script>

<style scoped>
p {
  font-family: "Noto Thai" !important;
}

.inner-div {
  background-color: white;
  border-radius: 5px;
  clip-path: polygon(0% 0%, 0% 101%, 101% 101%, 101% 0%);
  display: inline-block;
  margin: auto;
  min-height: 640px;
  min-width: 500px;
}

.outer-div {
  background-image: url("../assets/teaBg.jpg");
  background-position: center;
  background-size: cover;
  display: inline-flex;
  min-height: 100vh;
  width: 100%;
}

.registration-subhead {
  display: inline;
  font-size: 1.2em;
}

.logo {
  align-content: center;
  height: 150px;
  margin: 0 auto;
  z-index: 1;
}

.registration-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
}

.my-long-button {
  min-height: 5vh;
}

.hide {
  visibility: hidden;
}

.error-input {
  border: 1px solid red;
}

.valid-input {
  border: 1px solid limegreen;
}

.error-message {
  color: red;
  float: right;
  margin-bottom: 0px !important;
  visibility: visible !important;
}

.valid-message {
  color: limegreen;
  visibility: visible !important;
}

/* animation */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .inner-div {
    background: none;
    box-shadow: none !important;
    height: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    min-width: 100%;
    padding-top: 5vh;
    padding-left: 0vw;
    width: 100vw;
  }

  .outer-div {
    max-width: 100vw;
    max-height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
  }
}
</style>
