<template>
  <div class="payment-bg">
    <Navbar/>
    <CustomerPayment/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import CustomerPayment from '@/components/CustomerPayment.vue';

export default {
  name: 'CustomerPaymentPage',
  components: {
    Navbar,
    CustomerPayment,
  },
};
</script>

<style scoped>
.payment-bg {
  background-image: url("../assets/teaBg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}
</style>
