<template>
  <div class="outer-div py-5">
    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="closeSnackbar" class="thai-font">ปิด</v-btn>
    </v-snackbar>
    <div class="inner-div pt-4 pb-5 elevation-5">
      <v-layout row>
        <img src="../assets/LuckyLogo.svg" alt="Logo" class="logo">
      </v-layout>

      <v-container v-show="page1" class="py-1 px-5 mt-3" grid-list-xl>
        <v-layout column class="page1">
          <div class="my-2">
            <p class="my-subhead">ชื่อผู้ใช้ *</p>
            <p
              id="username-error"
              class="d-none error-message"
            >ชื่อผู้ใช้ต้องเป็นตัวอักษรอังกฤษที่มีความยาว 4-32</p>
          </div>
          <input
            class="my-input pl-3"
            placeholder="ชื่อผู้ใช้"
            v-model="username"
            id="username-input"
          >
          <div class="my-2">
            <p class="my-subhead">อีเมล์ *</p>
            <p id="email-error" class="d-none error-message">รูปแบบอีเมล์ไม่ถูกต้อง</p>
          </div>
          <input class="my-input pl-3" placeholder="อีเมล" v-model="email" id="email-input">
          <div class="my-2">
            <p class="my-subhead">รหัสผ่าน *</p>
            <p
              id="password-error"
              class="d-none error-message"
            >รหัสผ่านต้องเป็นอักษรภาษาอังกฤษหรือตัวเลขความยาว 6-32</p>
          </div>
          <input
            class="my-input pl-3"
            placeholder="รหัสผ่าน"
            v-model="password"
            id="password-input"
            type="password"
          >
          <div class="my-2">
            <p class="my-subhead">ยืนยันรหัสผ่าน *</p>
            <p id="cpassword-error" class="d-none error-message">รหัสผ่านไม่ตรงกับที่ให้ไว้</p>
          </div>
          <input
            class="my-input mb-3 pl-3"
            placeholder="ยืนยันรหัสผ่าน"
            v-model="cpassword"
            id="cpassword-input"
            type="password"
          >
          <v-btn dark color="#7455F4" block class="my-long-button" @click="gotoPage2(1)">
            ถัดไป
          </v-btn>
        </v-layout>
      </v-container>

      <v-container v-show="page2" class="py-1 px-5 mt-3" grid-list-xl>
        <v-layout column class="page2">
          <v-flex xs12 text-xs-center>
            <p class="display-1 my-text">
              <b>ข้อมูลร้านอาหาร</b>
            </p>
          </v-flex>
          <div class="my-2">
            <p class="my-subhead">ชื่อ *</p>
            <p id="fname-error" class="d-none error-message">ชื่อต้องเป็นตัวอักษรอังกฤษหรือไทย</p>
          </div>
          <input class="my-input pl-3" placeholder="ชื่อ" v-model="fname" id="fname-input">
          <div class="my-2">
            <p class="my-subhead">นามสกุล *</p>
            <p id="lname-error" class="d-none error-message">
              นามสกุลต้องเป็นตัวอักษรอังกฤษหรือไทย
            </p>
          </div>
          <input class="my-input pl-3" placeholder="นามสกุล" v-model="lname" id="lname-input">
          <div class="my-2">
            <p class="my-subhead">เบอร์ติดต่อ *</p>
            <p
              id="telephone-error"
              class="d-none error-message"
            >เบอร์ติดต่อเป็นตัวเลข 10 หลัก ไม่มีอักษรพิเศษ</p>
          </div>
          <input
            class="my-input pl-3"
            placeholder="เบอร์ติดต่อ"
            v-model="telephone"
            id="telephone-input"
          >
          <div class="my-2">
            <p class="my-subhead">ชื่อร้านอาหาร *</p>
            <p
              id="shop_name-error"
              class="d-none error-message"
            >ชื่อร้านอาหารต้องเป็นตัวอักษรไทยหรืออังกฤษ</p>
          </div>
          <input
            class="my-input pl-3"
            placeholder="ชื่อร้านอาหาร"
            v-model="shop_name"
            id="shop_name-input"
          >
          <div class="my-2">
            <p class="my-subhead">สาขาร้านอาหาร *</p>
            <p id="shop_location-error" class="d-none error-message">โปรดเลือกสาขาร้านอาหาร</p>
          </div>
            <v-select
              v-model="shop_location"
              id="shop_location-input"
              :items="location"
              :menu-props="{ maxHeight: '400' }"
              label="Select"
              multiple solo flat class="my-selector mt-0 mb-3 py-0"
            ></v-select>
          <v-layout justify-end pr-1>
            <v-btn color="white" @click="gotoPage1(0)">ย้อนกลับ</v-btn>
            <v-btn dark color="#7455F4" @click="gotoPage3(1)">ถัดไป</v-btn>
          </v-layout>
        </v-layout>
      </v-container>

      <v-container v-show="page3" class="py-1 px-5 mt-3" grid-list-xl>
        <v-layout column class="page3">
          <v-flex xs12 text-xs-center>
            <p class="display-1 my-text">
              <b>ข้อมูลบัญชีธนาคาร</b>
            </p>
          </v-flex>
          <div class="my-2">
            <p class="my-subhead">ชื่อธนาคาร *</p>
            <p id="bank_name-error" class="d-none error-message">โปรดเลือกธนาคาร</p>
          </div>
          <v-select
            v-model="bank_name"
            id="bank_name-input"
            :items="bank_name_array"
            :menu-props="{ maxHeight: '400' }"
            label="Select"
            solo flat class="my-selector mt-0 mb-3 py-0"
          ></v-select>
          <div class="my-2">
            <p class="my-subhead">ชื่อบัญชีธนาคาร *</p>
            <p
              id="account_name-error"
              class="d-none error-message"
            >ชื่อบัญชีธนาคารต้องเป็นตัวอักษรไทยหรืออังกฤษ</p>
          </div>
          <input
            class="my-input pl-3"
            placeholder="ชื่อบัญชีธนาคาร"
            v-model="account_name"
            id="account_name-input"
          >
          <div class="my-2">
            <p class="my-subhead">เลขบัญชีธนาคาร *</p>
            <p
              id="bank_account-error"
              class="d-none error-message"
            >เลขบัญชีธนาคารหเป็นตัวเลข 10 หลัก ไม่มีอักษรพิเศษ</p>
          </div>
          <input
            class="my-input mb-3 pl-3"
            placeholder="เลขบัญชีธนาคาร"
            v-model="bank_account"
            id="bank_account-input"
          >
          <v-layout justify-end pr-1>
            <v-btn color="white" @click="gotoPage2(0)">ย้อนกลับ</v-btn>
            <v-btn dark color="#7455F4" @click="register()">สมัครสมาชิก</v-btn>
          </v-layout>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import { TweenMax, Power1 } from 'gsap/TweenMax';
import ShopService from '../services/ShopService';

export default {
  name: 'ShopRegistration',
  data: () => ({
    page1: true,
    page2: false,
    page3: false,
    username: '',
    password: '',
    cpassword: '',
    fname: '',
    lname: '',
    email: '',
    telephone: '',
    shop_name: '',
    bank_account: '',
    bank_name: '',
    account_name: '',
    shop_location: [],
    location: ['สยาม', 'จามจุรีสแควร์', 'สวนหลวง', 'สามย่าน'],
    bank_name_array: [
      'ธนาคารกรุงเทพ',
      'ธนาคารกสิกรไทย',
      'ธนาคารไทยพาณิชย์',
      'ธนาคารกรุงไทย',
      'ธนาคารกรุงศรีอยุธยา',
    ],
    confirm: {
      username: false,
      password: false,
      cpassword: false,
      fname: false,
      lname: false,
      email: false,
      telephone: false,
      shop_name: false,
      bank_account: false,
      bank_name: false,
      account_name: false,
      shop_location: false,
    },
    snackbar: false,
    sncolor: 'success',
    sntimeout: 5000,
    sntext: '',
    enableReturn: false,
  }),
  watch: {
    username(val) {
      const pattern = /^[A-Za-z]{4,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('username-error').className = 'hide d-none';
        document
          .getElementById('username-input')
          .classList.remove('error-input');
        this.confirm.username = val !== '';
      } else {
        document.getElementById('username-error').className = 'error-message';
        document.getElementById('username-input').classList.add('error-input');
      }
    },
    email(val) {
      const pattern = /^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,})$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('email-error').className = 'hide d-none';
        document.getElementById('email-input').classList.remove('error-input');
        this.confirm.email = val !== '';
      } else {
        document.getElementById('email-error').className = 'error-message';
        document.getElementById('email-input').classList.add('error-input');
      }
    },
    password(val) {
      const pattern = /^[A-Za-z0-9]{6,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('password-error').className = 'hide d-none';
        document
          .getElementById('password-input')
          .classList.remove('error-input');
        this.confirm.password = val !== '';
      } else {
        document.getElementById('password-error').className = 'error-message';
        document.getElementById('password-input').classList.add('error-input');
      }
    },
    cpassword(val) {
      if (val === this.password || val === '') {
        document.getElementById('cpassword-error').className = 'hide d-none';
        document
          .getElementById('cpassword-input')
          .classList.remove('error-input');
        this.confirm.cpassword = val !== '';
      } else {
        document.getElementById('cpassword-error').className = 'error-message';
        document.getElementById('cpassword-input').classList.add('error-input');
      }
    },
    fname(val) {
      const pattern = /^[A-Za-zก-๙]{2,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('fname-error').className = 'hide d-none';
        document.getElementById('fname-input').classList.remove('error-input');
        this.confirm.fname = val !== '';
      } else {
        document.getElementById('fname-error').className = 'error-message';
        document.getElementById('fname-input').classList.add('error-input');
      }
    },
    lname(val) {
      const pattern = /^[A-Za-zก-๙]{2,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('lname-error').className = 'hide d-none';
        document.getElementById('lname-input').classList.remove('error-input');
        this.confirm.lname = val !== '';
      } else {
        document.getElementById('lname-error').className = 'error-message';
        document.getElementById('lname-input').classList.add('error-input');
      }
    },
    telephone(val) {
      const pattern = /^[0-9]{10,10}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('telephone-error').className = 'hide d-none';
        document
          .getElementById('telephone-input')
          .classList.remove('error-input');
        this.confirm.telephone = val !== '';
      } else {
        document.getElementById('telephone-error').className = 'error-message';
        document.getElementById('telephone-input').classList.add('error-input');
      }
    },
    // TODOS
    shop_name(val) {
      const pattern = /^[A-Za-zก-๙ 0-9]{2,32}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('shop_name-error').className = 'hide d-none';
        document
          .getElementById('shop_name-input')
          .classList.remove('error-input');
        this.confirm.shop_name = val !== '';
      } else {
        document.getElementById('shop_name-error').className = 'error-message';
        document.getElementById('shop_name-input').classList.add('error-input');
      }
    },
    shop_location(val) {
      if (val.length !== 0) {
        document.getElementById('shop_location-error').className = 'hide d-none';
        document
          .getElementById('shop_location-input')
          .classList.remove('error-input');
        this.confirm.shop_location = true;
      } else {
        document.getElementById('shop_location-error').className = 'error-message';
        document.getElementById('shop_location-input').classList.add('error-input');
      }
    },
    bank_account(val) {
      const pattern = /^[0-9]{10,10}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('bank_account-error').className = 'hide d-none';
        document
          .getElementById('bank_account-input')
          .classList.remove('error-input');
        this.confirm.bank_account = val !== '';
      } else {
        document.getElementById('bank_account-error').className = 'error-message';
        document
          .getElementById('bank_account-input')
          .classList.add('error-input');
      }
    },
    // DOne
    bank_name(val) {
      if (val) {
        document.getElementById('bank_name-error').className = 'hide d-none';
        document
          .getElementById('bank_name-input')
          .classList.remove('error-input');
        this.confirm.bank_name = true;
      } else {
        document.getElementById('bank_name-error').className = 'error-message';
        document.getElementById('bank_name-input').classList.add('error-input');
      }
    },
    account_name(val) {
      const pattern = /^[A-Za-zก-๙ ]{2,128}$/;
      if (val.match(pattern) || val === '') {
        document.getElementById('account_name-error').className = 'hide d-none';
        document
          .getElementById('account_name-input')
          .classList.remove('error-input');
        this.confirm.account_name = val !== '';
      } else {
        document.getElementById('account_name-error').className = 'error-message';
        document
          .getElementById('account_name-input')
          .classList.add('error-input');
      }
    },
  },
  methods: {
    gotoPage1() {
      this.page2 = false;
      this.page3 = false;
      this.page4 = false;
      this.page1 = true;
      const x = document.getElementsByClassName('page1');
      TweenMax.from(x, 0.5, { x: -300, ease: Power1.easeOut, autoAlpha: 0 });
    },
    gotoPage2(direction) {
      if (
        this.confirm.username
        && this.confirm.password
        && this.confirm.cpassword
        && this.confirm.email
      ) {
        this.page1 = false;
        this.page3 = false;
        this.page4 = false;
        this.page2 = true;
        const x = document.getElementsByClassName('page2');
        if (direction === 0) {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: -300,
            ease: Power1.easeOut,
          });
        } else {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: 300,
            ease: Power1.easeOut,
          });
        }
      } else {
        this.sntext = 'แบบฟอร์มมีปัญหา โปรดตรวจสอบอีกรอบ';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    gotoPage3(direction) {
      if (
        this.confirm.fname
        && this.confirm.lname
        && this.confirm.shop_name
        && this.confirm.telephone
        && this.confirm.shop_location
      ) {
        this.page1 = false;
        this.page2 = false;
        this.page4 = false;
        this.page3 = true;
        const x = document.getElementsByClassName('page3');
        if (direction === 0) {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: -300,
            ease: Power1.easeOut,
          });
        } else {
          TweenMax.from(x, 0.5, {
            autoAlpha: 0.5,
            x: 300,
            ease: Power1.easeOut,
          });
        }
      } else {
        this.sntext = 'แบบฟอร์มมีปัญหา โปรดตรวจสอบอีกรอบ';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    async register() {
      if (Object.values(this.confirm).every(item => item)) {
        const Obj = {
          username: this.username,
          password: this.password,
          fname: this.fname,
          lname: this.lname,
          email: this.email,
          telephone: this.telephone,
          shop_name: this.shop_name,
          bank_account: this.bank_account,
          bank_name: this.bank_name,
          account_name: this.account_name,
          shop_location: this.shop_location,
        };
        try {
          ShopService.register(Obj);
          this.sntext = 'ระบบได้สร้างบัญชีของคุณแล้ว';
          this.sncolor = 'success';
          this.snackbar = true;
          this.enableReturn = true;
          this.sntimeout = 60000;
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      } else {
        this.sntext = 'แบบฟอร์มมีปัญหา โปรดตรวจสอบอีกรอบ';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    closeSnackbar() {
      this.snackbar = false;
      if (this.enableReturn) {
        this.$router.push({ name: 'shop' });
      }
    },
  },
};
</script>

<style scoped>
p {
  font-family: "Noto Thai" !important;
}

.title1 {
  font-size: 2.5em;
}

.inner-div {
  background-color: white;
  border-radius: 5px;
  width: 33vw;
  display: inline-block;
  margin: auto;
  clip-path: polygon(0% 0%, 0% 101%, 101% 101%, 101% 0%);
}

.outer-div {
  display: inline-flex;
  background-image: url("../assets/ShopSignUpBg.png");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.my-subhead {
  font-size: 1.2em;
  display: inline;
}

.my-textfield {
  height: 10px !important;
}

.logo {
  margin: 0 auto;
  height: 150px;
  z-index: 1;
  align-content: center;
}

.my-input {
  height: 40px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

.my-selector {
  height: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

.my-long-button {
  min-height: 5vh;
}

.hide {
  visibility: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.error-message {
  color: red;
  float: right;
  margin-bottom: 0px !important;
  visibility: visible !important;
}

/* add responsive not finish */
@media only screen and (max-width: 800px) {
  .inner-div {
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
    padding-left: 5vw;
    background: none;
  }

  .outer-div {
    padding-top: 0px !important;
  }

  .error-message {
    color:cyan;
  }

  .my-text {
    color: white;
  }

  .my-subhead {
    color: white;
  }
}
</style>
