<template>
  <div>
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-dialog v-model="openLogin" max-width="70vw">
      <v-card class="login2 elevation-5">
        <div class="pa-4">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="username" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="password"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn
              large
              block
              dark
              color="#7455F4"
              class="my-long-button"
              depressed
              @click="login()"
            >เข้าสู่ระบบ</v-btn>
          </v-layout>
        </div>
      </v-card>
    </v-dialog>

    <ShopNavbar/>

    <div class="upper">
      <h1 id="upperText" xs4 offset-xs2>
        สร้างความสุข <br>
        สนุกกับเมนูอาหาร
      </h1>

      <div class="login elevation-5">
        <img class="gashalogo" src="../assets/LuckyLogo.svg">
        <div class="pa-4 vertical-center">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="username" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="password"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn
              large
              block
              dark
              color="#7455F4"
              class="my-long-button"
              depressed
              @click="login()"
            >เข้าสู่ระบบ</v-btn>
            <v-flex text-xs-center class="mb-3 mt-2">
              <p style="display:inline-block; margin-right:10px;">ยังไม่เป็นสมาชิก?</p>
              <a class="a-black" style="disply:inline-block;">
                <b @click="gotoRegistration()">สมัครสมาชิก</b>
              </a>
            </v-flex>
          </v-layout>
        </div>
      </div>

    <img class="gashalogo-responsive" src="../assets/LuckyLogo.svg">
    <h1 id="upperText-r">
        สร้างความสุขให้กับเมนูอาหารของคุณ
    </h1>
    <div id="btn-r">
      <v-btn id="btn-r-inner" dark block color="#7455F4" @click="openLogin = true">
        เข้าสู่ระบบ
      </v-btn>
    </div>

    </div>
    <div class="howto">
      <div class="bottom pt-3 pb-5" center-justify>
        <h1 class="header thai-font">วิธีการใช้งาน</h1>
        <div class="howto-item">
          <img class="howto-icon" src="../assets/wishlist.png">
          <div class="howto-text mt-3">
            <h2>สมัครสมาชิก</h2>
          </div>
        </div>
        <div class="howto-item">
          <img class="howto-icon" src="../assets/wallet.png">
          <div class="howto-text mt-3">
            <h2>เสนอขายคูปอง</h2>
          </div>
        </div>
        <div class="howto-item">
          <img class="howto-icon" src="../assets/magnifier.png">
          <div class="howto-text mt-3">
            <h2>รออนุมัติ</h2>
          </div>
        </div>
        <div class="howto-item">
          <img class="howto-icon" src="../assets/gift.png">
          <div class="howto-text mt-3">
            <h2>คูปองถูกสุ่มได้</h2>
          </div>
        </div>
        <div class="howto-item">
          <img class="howto-icon" src="../assets/qr.png">
          <div class="howto-text mt-3">
            <h2>รอรับเงิน</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ShopNavbar from '@/components/ShopNavbar.vue';
import ShopService from '../services/ShopService';

export default {
  name: 'ShopHome',
  components: {
    ShopNavbar,
  },
  data: () => ({
    username: '',
    password: '',
    snackbar: false,
    sncolor: '',
    sntext: '',
    sntimeout: 5000,
    openLogin: false,
  }),
  methods: {
    async login() {
      const params = {
        username: this.username,
        password: this.password,
      };
      try {
        await ShopService.login(params);
        const y = await ShopService.getUserInfo();
        if (y.data.shop_id) {
          this.$store.dispatch('changeLoginStatus', true);
          this.$store.dispatch('changeLoginInfo', y.data);
          this.$router.push({ path: 'shop-coupon' });
        }
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    gotoRegistration() {
      this.$router.push({ path: 'shop-registration' });
    },
  },
};
</script>

<style scoped>

.upper {
  background-image: url("../assets/shop-bg.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#upperText {
  position: relative;
  left: 10%;
  width: 40%;
  font-size: 450%;
  color: white;
  text-shadow: 1px 1px 2px black;
  word-wrap: break-word;
}

#upperText-r {
  display:none;
}

.login {
  position: relative;
  left: 15%;
  width: 33%;
  height: 478px;
  background: white;
  border-radius: 10px;
}

.login2 {
  height: 420px;
  background: white;
  border-radius: 10px;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.my-long-button {
  min-height: 5vh;
}

.vertical-center {
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.bottom {
  background-color: #b9b9b9;
  text-align: center;
}

#btn-r {
  display: none;
}

.header {
  margin-top: 56px;
  margin-bottom: 52px;
}

.howto-item {
  display: inline-block;
  height: 222px;
  width: 222px;
}

.gashalogo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 10px;
}

.gashalogo-responsive {
  display: none;
}

@media only screen and (max-width: 800px) {
  #upperText {
    display: none;
  }

  .login {
    display: none;
  }

  .upper {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .gashalogo-responsive {
    display: block;
  }

  #upperText-r {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px black;
    word-wrap: break-word;
    display: block;
    text-align: center;
  }

  #btn-r {
    height: 50px;
    width: 200px;
    display: inline-block;
  }

  #btn-r-inner {
    font-size: 2em;
    height: 100% !important;
  }
}

</style>
