<template>
  <div class="profile-bg">
    <ShopNavbar/>
    <ShopProfile/>
  </div>
</template>

<script>
import ShopNavbar from '@/components/ShopNavbar.vue';
import ShopProfile from '@/components/ShopProfile.vue';

export default {
  name: 'ShopProfilePage',
  components: {
    ShopNavbar,
    ShopProfile,
  },
};
</script>

<style scoped>
.profile-bg {
  background-image: url("../assets/ShopSignUpBg.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

</style>
