<template>
  <div>
    <ShopNavbar/>
    <ShopCoupon/>
  </div>
</template>

<script>
import ShopNavbar from '@/components/ShopNavbar.vue';
import ShopCoupon from '@/components/ShopCoupon.vue';

export default {
  name: 'ShopCouponPage',
  components: {
    ShopNavbar,
    ShopCoupon,
  },
};
</script>
