<template>
  <v-app class="grid-bg">

    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <div class="grid-page" v-show="!showForm">
      <div class="sales">
        <AdminTop3Gasha/>

        <AdminSearch/>
      </div>

      <div class="heading d-inline-flex">
        <h1 class="ml-3 heading-text" style="text-align:left;">สถานะคูปอง</h1>
        <v-spacer></v-spacer>
        <v-select :items="items" style="width:30%;"
          label="สถานะทั้งหมด" solo v-model="couponReqFilter"/>
      </div>

      <div class="coupons mt-2">
        <AdminCouponTable
        :couponReq="this.filterCouponReq"
        v-on:showForm="openForm"/>
      </div>
    </div>
    <AdminCouponForm v-show="showForm" v-bind:state="this.formState"
      v-on:closeForm="refresh" v-on:closeFormNL="backToHome"
    />
  </v-app>
</template>

<script>
import AdminCouponTable from '@/components/AdminCouponTable.vue';
import AdminService from '../services/AdminService';
import AdminTop3Gasha from '@/components/AdminTop3Gasha.vue';
import AdminSearch from '@/components/AdminSearch.vue';
import AdminCouponForm from '@/components/AdminCouponForm.vue';

export default {
  name: 'AdminCoupon',
  components: {
    AdminCouponTable,
    AdminTop3Gasha,
    AdminSearch,
    AdminCouponForm,
  },
  data: () => ({
    gasha: {
      price: 19,
      type: 'อาหารไทย',
      address: 'สยามสแควร์',
    },
    locationFilters: ['โซนร้านอาหารทั้งหมด'],
    priceFilters: ['ราคาทั้งหมด'],
    typeFilters: ['ประเภทอาหารทั้งหมด'],
    items: ['สถานะทั้งหมด', 'รออนุมัติ', 'อนุมัติแล้ว', 'สิ้นสุด', 'ยกเลิก', 'ไม่อนุมัติ'],
    selectedLocationFilter: '',
    selectedPriceFilter: '',
    selectedTypeFilter: '',
    couponReq: [],
    couponReqFilter: 'สถานะทั้งหมด',
    showForm: false,
    formState: {},
    sncolor: '',
    sntext: '',
    snackbar: false,
    sntimeout: 5000,
    dialog: false,
  }),
  computed: {
    showTop3Error() {
      return true;
    },
    filterCouponReq() {
      const f = this.couponReqFilter;
      let f1 = '';
      if (f === 'สถานะทั้งหมด') {
        return this.couponReq;
      } if (f === 'รออนุมัติ') {
        f1 = 'waiting';
      } else if (f === 'อนุมัติแล้ว') {
        f1 = 'confirm';
      } else if (f === 'สิ้นสุด') {
        f1 = 'end';
      } else if (f === 'ยกเลิก') {
        f1 = 'cancel';
      } else if (f === 'ไม่อนุมัติ') {
        f1 = 'reject';
      }
      return this.couponReq.filter(c => c.status === f1);
    },
  },
  methods: {
    async getFilters() {
      const x = await AdminService.getFilters();
      this.locationFilters = this.locationFilters.concat(x.data.location);
      this.priceFilters = this.priceFilters.concat(x.data.price);
      this.typeFilters = this.typeFilters.concat(x.data.type);
    },
    async getAllCoupons() {
      try {
        const x = await AdminService.getAllCouponReq();
        this.couponReq = x.data;
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    openForm(couponReq) {
      this.showForm = true;
      this.formState = couponReq;
    },
    async refresh() {
      // eslint-disable-next-line
      location.reload();
    },
    async backToHome() {
      try {
        const x = await AdminService.getAllCouponReq();
        this.couponReq = x.data;
        this.showForm = false;
        this.formState = {};
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
  mounted() {
    this.getFilters();
    this.getAllCoupons();
  },
};
</script>

<style scoped>
.coupons {
  grid-row: 2/5;
  grid-column: 2/3;
}

.heading {
  grid-row: 1/2;
  grid-column: 2/3;
}

.heading-text {
  font-size: 36px;
}

.new-coupon-btn {
  width: 196px;
  height: 50px;
  font-size: 1.3em;
}

.greybox {
  background: #a6a6a6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}

.grid-bg {
  background: #d4d4d4 !important;
  align-content: center;
  margin-top: 56px;
}

.grid-page {
  display: grid;
  grid-template-columns: 25vw 57vw;
  grid-template-rows: 50px 49px auto auto;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.terms {
  text-align: left;
  grid-row: 3/4;
  grid-column: 1/2;
}

.terms-text {
  height: 280px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: visible;
}

.sales {
  grid-row: 1/4;
  grid-column-start: 1/2;
}

.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
}
</style>
