<template>
  <v-app class="grey-bg">
    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-dialog v-model="rejectDialog" width="600">
      <v-card height="100%" style="padding-top:40px;padding-bottom:40px;">
        <div class="card-headline thai-font" primary-title>
          ไม่สามารถแก้ไขการอนุมัติคูปองนี้ได้อีก
          <br>กรุณายืนยัน "การไม่อนุมัติ" คูปองนี้
        </div>

        <div class="card-btns">
          <v-btn color="#ADABA8" dark large @click="rejectDialog = false">ยกเลิก</v-btn>
          <v-btn color="#11C8CD" dark large @click="rejectCoupon()">ยืนยัน</v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="acceptDialog" width="600">
      <v-card height="100%" style="padding-top:40px;padding-bottom:40px;">
        <div class="card-headline thai-font" primary-title>
          ไม่สามารถแก้ไขการอนุมัติคูปองนี้ได้อีก
          <br>กรุณายืนยัน "การอนุมัติ" คูปองนี้
        </div>

        <div class="card-btns">
          <v-btn color="#ADABA8" dark large @click="acceptDialog = false">ยกเลิก</v-btn>
          <v-btn color="#11C8CD" dark large @click="acceptCoupon()">ยืนยัน</v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-container style="height:100%; width:70vw;">
      <div class="whitebox">
        <h1 class="heading text-xs-center">ฟอร์มเสนอขายคูปอง</h1>
        <div class="detail-grid">
          <div class="col1">
            <img class="food-img" v-bind:src="this.state.couponReq.food_image" alt>
            <StatusButton v-bind:state="this.state.couponReq.status" class="stat"/>
          </div>
          <div class="text-col col3">
            <h3 style="grid-column: 1; grid-row: 1;">ชื่ออาหาร:</h3>
            <p style="grid-column: 2; grid-row: 1;">{{this.state.couponReq.food_name}}</p>
            <h3 style="grid-column: 1; grid-row: 2;">ชื่อร้านอาหาร:</h3>
            <p style="grid-column: 2; grid-row: 2;">{{this.state.shopInfo.shop_name}}</p>
            <h3 style="grid-column: 1; grid-row: 3;">ประเภทอาหาร:</h3>
            <p style="grid-column: 2; grid-row: 3;">{{this.state.couponReq.food_type}}</p>
            <h3 style="grid-column: 1; grid-row: 4;">ราคาจริง:</h3>
            <p style="grid-column: 2; grid-row: 4;">{{this.state.couponReq.actual_price}} บาท</p>
            <h3 style="grid-column: 1; grid-row: 5;">จำนวนคูปอง:</h3>
            <p style="grid-column: 2; grid-row: 5;">{{this.state.couponReq.total_amount}} ใบ</p>
            <h3 style="grid-column: 3; grid-row: 4;">ราคาเสนอขาย:</h3>
            <p style="grid-column: 4; grid-row: 4;">{{this.state.couponReq.offer_price}} บาท</p>
            <h3 style="grid-column: 3; grid-row: 5;">วันหมดอายุ:</h3>
            <p
              style="grid-column: 4; grid-row: 5;"
            >{{this.state.couponReq.expiration.split('T')[0]}}</p>
            <h3 style="grid-column: 1; grid-row: 6; align-self: center;">โซนที่ใช้คูปองได้:</h3>
            <div style="grid-column: 2 / end; grid-row: 6;">
              <div class="zones">
                <div class="zone-box" v-for="place in this.state.location" :key="place">
                  {{place}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-line"></div>
        <div class="approve-area">
          <h3>การอนุมัติคูปอง</h3>
          <div class="approve-list-div">
            <v-select
              v-model="approveStatus"
              :items="approveTypeList"
              :disabled="disableCouponStatus"
              label="approveType"
              menu-props="auto"
              single-line
              outline
              hide-details
            ></v-select>
          </div>
          <p style="color: #ADADAD;">* หากกดยืนยันแล้ว จะไม่สามารถแก้ไขได้อีก</p>
        </div>
        <div v-show="approveStatus == 'อนุมัติแล้ว'" class="add-to-gasha">
          <div class="add-to-gasha-ins">
            <h3>การกำหนดความหายากและ % การสุ่มได้</h3>
            <p style="color: #ADADAD; margin-left: 10px;">* เมื่อกดยืนยันแล้ว ยังสามารถแก้ไขได้</p>
          </div>
          <h3 style="grid-column: 2; grid-row: 2;">ราคา</h3>
          <h3 style="grid-column: 3; grid-row: 2;">ความหายาก</h3>
          <h3 style="grid-column: 4; grid-row: 2;">
            % การสุ่มได้
            <br>(0-100)
          </h3>
          <h3 style="grid-column: 5; grid-row: 2;">นำเข้าตู้ราคานี้</h3>
          <p style="grid-column: 2; grid-row: 3;">10 cookies</p>
          <v-select
            v-model="rarity10c"
            :items="rarities"
            menu-props="auto"
            single-line
            outline
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 3; grid-row: 3;"
          ></v-select>
          <v-text-field
            v-model="percent10c"
            outline
            single-line
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 4; grid-row: 3;"
          ></v-text-field>
          <v-checkbox
            v-model="in10c"
            style="grid-column: 5; grid-row: 3;"
            :disabled="disableCheckBox"
          ></v-checkbox>
          <p style="grid-column: 2; grid-row: 4;">19 cookies</p>
          <v-select
            v-model="rarity19c"
            :items="rarities"
            menu-props="auto"
            single-line
            outline
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 3; grid-row: 4;"
          ></v-select>
          <v-text-field
            v-model="percent19c"
            outline
            single-line
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 4; grid-row: 4;"
          ></v-text-field>
          <v-checkbox
            v-model="in19c"
            style="grid-column: 5; grid-row: 4;"
            :disabled="disableCheckBox"
          ></v-checkbox>
          <p style="grid-column: 2; grid-row: 5;">28 cookies</p>
          <v-select
            v-model="rarity28c"
            :items="rarities"
            menu-props="auto"
            single-line
            outline
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 3; grid-row: 5;"
          ></v-select>
          <v-text-field
            v-model="percent28c"
            outline
            single-line
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 4; grid-row: 5;"
          ></v-text-field>
          <v-checkbox
            v-model="in28c"
            style="grid-column: 5; grid-row: 5;"
            :disabled="disableCheckBox"
          ></v-checkbox>
          <p style="grid-column: 2; grid-row: 6;">37 cookies</p>
          <v-select
            v-model="rarity37c"
            :items="rarities"
            menu-props="auto"
            single-line
            outline
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 3; grid-row: 6;"
          ></v-select>
          <v-text-field
            v-model="percent37c"
            outline
            single-line
            hide-details
            :disabled="disableRateForm"
            style="grid-column: 4; grid-row: 6;"
          ></v-text-field>
          <v-checkbox
            v-model="in37c"
            style="grid-column: 5; grid-row: 6;"
            :disabled="disableCheckBox"
          ></v-checkbox>
        </div>
        <div class="button-area">
          <v-btn depressed dark large color="#989898" v-if="showCancel" @click="closeFormNoLoad()">
            ยกเลิก
          </v-btn>
          <v-btn
            depressed
            dark
            large
            color="#11C8CD"
            @click="processInput()"
            id="confirm-btn"
          >{{this.btnText}}</v-btn>
        </div>
      </div>
    </v-container>
  </v-app>
</template>

<script>
import StatusButton from '@/components/StatusButton.vue';
import AdminService from '../services/AdminService';

export default {
  name: 'AdminCouponForm',
  components: {
    StatusButton,
  },
  props: {
    state: Object,
  },
  data() {
    return {
      // just data not input V
      approveTypeList: ['รออนุมัติ', 'อนุมัติแล้ว', 'ไม่อนุมัติ'],
      approveStatus: 'รออนุมัติ',
      rarities: ['C', 'R', 'SR', 'SSR'],
      rarity10c: 'C',
      rarity19c: 'C',
      rarity28c: 'C',
      rarity37c: 'C',
      percent10c: '',
      percent19c: '',
      percent28c: '',
      percent37c: '',
      in10c: false,
      in19c: false,
      in28c: false,
      in37c: false,
      disableCouponStatus: false,
      disableRateForm: false,
      disableCheckBox: false,
      sncolor: '',
      sntext: '',
      snackbar: false,
      sntimeout: 5000,
      showCancel: false,
      rejectDialog: false,
      acceptDialog: false,
    };
  },
  computed: {
    btnText() {
      const x = this.state.couponReq.status;
      if (x === 'end' || x === 'cancel' || x === 'reject') {
        return 'ตกลง';
      }
      return 'ยืนยัน';
    },
    sendData() {
      return this.atleastOneCheckBox && this.correctRate;
    },
    atleastOneCheckBox() {
      return this.in10c || this.in19c || this.in28c || this.in37c;
    },
    correctRate() {
      if ((this.percent10c < 0 || this.percent10c > 100) && this.in10c) {
        return false;
      }
      if ((this.percent19c < 0 || this.percent19c > 100) && this.in19c) {
        return false;
      }
      if ((this.percent28c < 0 || this.percent28c > 100) && this.in28c) {
        return false;
      }
      if ((this.percent37c < 0 || this.percent37c > 100) && this.in37c) {
        return false;
      }
      return true;
    },
  },
  methods: {
    closeForm() {
      this.approveStatus = 'รออนุมัติ';
      this.init();
      this.$emit('closeForm');
    },
    closeFormNoLoad() {
      this.$emit('closeFormNL');
    },
    init() {
      this.percent10c = 0;
      this.rarity10c = 'C';
      this.in10c = false;
      this.percent19c = 0;
      this.rarity19c = 'C';
      this.in19c = false;
      this.percent28c = 0;
      this.rarity28c = 'C';
      this.in28c = false;
      this.percent37c = 0;
      this.rarity37c = 'C';
      this.in37c = false;
    },
    updateRate() {
      if (!this.state.raity) {
        this.init();
      } else {
        for (let i = 0; i < this.state.raity.length; i += 1) {
          const rarityObj = this.state.raity[i];
          if (rarityObj.price === 10) {
            this.percent10c = rarityObj.rate.toString();
            this.rarity10c = rarityObj.rarity;
            this.in10c = true;
          } else if (rarityObj.price === 19) {
            this.percent19c = rarityObj.rate.toString();
            this.rarity19c = rarityObj.rarity;
            this.in19c = true;
          } else if (rarityObj.price === 28) {
            this.percent28c = rarityObj.rate.toString();
            this.rarity28c = rarityObj.rarity;
            this.in28c = true;
          } else if (rarityObj.price === 37) {
            this.percent37c = rarityObj.rate.toString();
            this.rarity37c = rarityObj.rarity;
            this.in37c = true;
          }
        }
      }
    },
    async processInput() {
      if (this.approveStatus === 'รออนุมัติ') {
        this.closeFormNoLoad();
      } else if (this.approveStatus === 'อนุมัติแล้ว') {
        if (
          this.state.couponReq.status === 'end'
          || this.state.couponReq.status === 'cancel'
        ) {
          this.closeFormNoLoad();
        } else if (this.state.couponReq.status === 'confirm') {
          await this.editCoupon();
        } else if (this.state.couponReq.status === 'waiting') {
          this.acceptDialog = true;
        } else {
          this.closeForm();
        }
      } else if (this.approveStatus === 'ไม่อนุมัติ') {
        if (this.state.couponReq.status === 'reject') {
          this.closeFormNoLoad();
        } else if (this.state.couponReq.status === 'waiting') {
          this.rejectDialog = true;
        } else {
          // eslint-disable-next-line
          console.log("error");
        }
      }
    },
    async editCoupon() {
      if (this.sendData) {
        const obj = { req_id: this.state.couponReq.req_id.toString() };
        if (this.in10c) {
          obj.cookies10 = {
            rate: this.percent10c.toString(),
            rarity: this.rarity10c,
          };
        }
        if (this.in19c) {
          obj.cookies19 = {
            rate: this.percent19c.toString(),
            rarity: this.rarity19c,
          };
        }
        if (this.in28c) {
          obj.cookies28 = {
            rate: this.percent28c.toString(),
            rarity: this.rarity28c,
          };
        }
        if (this.in37c) {
          obj.cookies37 = {
            rate: this.percent37c.toString(),
            rarity: this.rarity37c,
          };
        }
        // eslint-disable-next-line
        // console.log(obj);
        try {
          await AdminService.editCouponReq(obj);
          this.closeForm();
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      } else {
        this.snackbar = true;
        this.sncolor = 'error';
        if (!this.correctRate) {
          this.sntext = '% การสุ่มผิดพลาด';
        } else if (!this.atleastOneCheckBox) {
          this.sntext = 'โปรดเลือกอย่างน้อย 1 ตู้';
        } else {
          this.sntext = 'ERROR';
        }
      }
    },
    async acceptCoupon() {
      if (this.sendData) {
        const obj = { req_id: this.state.couponReq.req_id.toString() };
        if (this.in10c) {
          obj.cookies10 = {
            rate: this.percent10c.toString(),
            rarity: this.rarity10c,
          };
        }
        if (this.in19c) {
          obj.cookies19 = {
            rate: this.percent19c.toString(),
            rarity: this.rarity19c,
          };
        }
        if (this.in28c) {
          obj.cookies28 = {
            rate: this.percent28c.toString(),
            rarity: this.rarity28c,
          };
        }
        if (this.in37c) {
          obj.cookies37 = {
            rate: this.percent37c.toString(),
            rarity: this.rarity37c,
          };
        }
        try {
          await AdminService.acceptCouponReq(obj);
          this.acceptDialog = false;
          this.closeForm();
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      } else {
        this.snackbar = true;
        this.sncolor = 'error';
        if (!this.correctRate) {
          this.sntext = '% การสุ่มผิดพลาด';
        } else if (!this.atleastOneCheckBox) {
          this.sntext = 'โปรดเลือกอย่างน้อย 1 ตู้';
        } else {
          this.sntext = 'ERROR';
        }
      }
    },
    async rejectCoupon() {
      const obj = {
        req_id: this.state.couponReq.req_id,
      };
      try {
        await AdminService.rejectCouponReq(obj);
        this.rejectDialog = false;
        this.closeForm();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
  watch: {
    approveStatus(status) {
      if (status === 'อนุมัติแล้ว') {
        this.updateRate();
      }
    },
    state(state) {
      if (state.couponReq.status === 'waiting') {
        this.approveStatus = 'รออนุมัติ';
        this.showCancel = true;
        this.disableCouponStatus = false;
        this.disableRateForm = false;
        this.disableCheckBox = false;
      } else if (state.couponReq.status === 'confirm') {
        this.approveStatus = 'อนุมัติแล้ว';
        this.disableCouponStatus = true;
        this.disableRateForm = false;
        this.disableCheckBox = false;
        this.showCancel = true;
      } else if (state.couponReq.status === 'end') {
        this.disableCouponStatus = true;
        this.disableRateForm = true;
        this.disableCheckBox = true;
        this.approveStatus = 'อนุมัติแล้ว';
        this.showCancel = false;
      } else if (state.couponReq.status === 'cancel') {
        this.disableCouponStatus = true;
        this.disableRateForm = true;
        this.disableCheckBox = true;
        this.approveStatus = 'อนุมัติแล้ว';
        this.showCancel = false;
      } else if (state.couponReq.status === 'reject') {
        this.disableCouponStatus = true;
        this.approveStatus = 'ไม่อนุมัติ';
        this.showCancel = false;
      }
    },
  },
};
</script>

<style scoped>
p {
  margin-bottom: 0 !important; /* dont know why they have bottom margin */
}
.grey-bg {
  background: #d4d4d4 !important;
  align-content: center;
  padding-top: 50px;
}
.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 50px;
}
.detail-grid {
  display: grid;
  grid-template-columns: 30% 5% auto;
  margin-top: 30px;
}
.col1 {
  grid-column: 1;
  width: 100%;
  text-align: center;
}
.col2 {
  grid-column: 2;
  width: 100%;
}
.col3 {
  grid-column: 3;
  width: 100%;
}
.col4 {
  grid-column: 4;
  width: 100%;
}
.col5 {
  grid-column: 5;
  width: 100%;
}
.text-col {
  display: grid;
  grid-template-columns: 20% 30% 20% 30%;
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  align-items: end;
}
.food-img {
  width: 100%;
  max-height: 500px;
}
.stat {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.zones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.zone-box {
  background: #c1eced;
  margin: 4px;
  padding: 5px 15px;
  border-radius: 4px;
  word-wrap: unset;
}
.page-line {
  width: 100%;
  height: 2px;
  background: #c0c0c0;
  margin-top: 3em;
}
.approve-area {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.approve-list {
  font-size: 1.25em;
}
.approve-list-div {
  width: 180px;
  margin: 0px 10px;
}
.button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
.add-to-gasha {
  display: grid;
  grid-template-columns: 5% 20% 20% 20% auto;
  grid-auto-rows: minmax(min-content, max-content);
  margin-top: 20px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
}
.add-to-gasha-ins {
  grid-column: 1 / end;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}
</style>
