<template>
  <div style="background: white; width:70%;">
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <div>
      <v-data-table :headers="headers" :items="payment" class="elevation-1">
        <template slot="headerCell" slot-scope="props">
          <h3 class="py-2" style="color: #333333; font-size:1.3em;">{{ props.header.text }}</h3>
        </template>
        <template v-slot:items="props">
          <td class="text-xs-center">
            {{props.item.shop_name}}
          </td>
          <td class="text-xs-center data-text english-font">{{ props.item.bank_name }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.account_name }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.bank_account }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.values }}</td>
          <td class="text-xs-center mr-2 data-text english-font">
            <v-btn
              @click="showPopup(props.item)"
              dark
              class="thai-font"
              color="#11C8CD"
            >
              ยืนยัน
            </v-btn>
          </td>
        </template>
        <template v-slot:no-data>
          <h4 class="text-xs-center">ยังไม่มีการเสนอขายคูปอง</h4>
        </template>
      </v-data-table>
    </div>

    <v-dialog v-model="dialog" width="600">
      <v-card height="240" style="padding-top:30px;">
        <div
          class="card-headline thai-font"
          primary-title
        >
        ยืนยันการโอนเงินให้ร้าน "{{this.shop_name}}"<br>
        จำนวนเงิน {{this.values}} บาท
        </div>

        <div class="card-btns">
          <v-btn color="#ADABA8" @click="dialog = false" dark large>ยกเลิก</v-btn>
          <v-btn color="#11C8CD" @click="confirmPayment()" dark large>ยืนยัน</v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AdminService from '../services/AdminService';

export default {
  name: 'AdminPayment',
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'ชื่อร้านอาหาร',
        align: 'center',
        sortable: false,
        value: 'picture',
      },
      {
        text: 'ชื่อธนาคาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ชื่อบัญชีธนาคาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'เลขบัญชีะนาคาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'จำนวนเงิน',
        value: 'amount',
        align: 'center',
        sortable: false,
      },
      { text: '', value: '', sortable: false },
    ],
    payment: [],
    snackbar: false,
    sntext: '',
    sntimeout: 5000,
    sncolor: '',
    shop_id: '',
    shop_name: '',
    values: '',
  }),
  async mounted() {
    try {
      const x = await AdminService.getPaymentList();
      this.payment = x.data;
    } catch (e) {
      this.snackbar = true;
      this.sncolor = 'error';
      if (e.response) {
        this.sntext = e.response.data;
      } else if (e.request) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
      }
    }
  },
  methods: {
    async confirmPayment() {
      const obj = {
        user_id: this.shop_id.toString(),
        values: this.values.toString(),
      };
      try {
        await AdminService.paidToShop(obj);
        const x = await AdminService.getPaymentList();
        this.payment = x.data;
        this.dialog = false;
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    showPopup(payment) {
      this.values = payment.values;
      this.shop_id = payment.shop_id;
      this.shop_name = payment.shop_name;
      this.dialog = true;
    },
  },
};
</script>

<style scoped>
.data-text {
  font-size: 1em;
}

.heading-text {
  font-size: 36px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}

.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}
</style>
