<template>
  <div style="text-align:center;" class="pb-2">
    <img v-bind:src="imgLocation" width="60" class="mt-2">
    <p class="black-text mb-2 mt-1 px-2">{{this.state.location}}</p>
    <p class="black-text mb-2 px-2">{{this.state.type}}</p>
    <p class="black-text mb-2 px-2">{{this.state.price}} cookies</p>
  </div>
</template>

<script>
export default {
  name: 'AdminGashaBox',
  props: {
    state: Object,
  },
  computed: {
    imgLocation() {
      if (this.state.type === 'อาหารไทย') {
        // eslint-disable-next-line
        return require('../assets/' + 'thai food.png');
      } if (this.state.type === 'อาหารญี่ปุ่น') {
        // eslint-disable-next-line
        return require('../assets/' + 'japan food.png');
      } if (this.state.type === 'ของหวาน+เครื่องดื่ม') {
        // eslint-disable-next-line
        return require('../assets/' + 'dessert food.png');
      } if (this.state.type === 'ฟาสต์ฟู้ด') {
        // eslint-disable-next-line
        return require('../assets/' + 'fast food.png');
      }
      // eslint-disable-next-line
      return require('../assets/' + 'ramen food.png');
    },
  },
};
</script>

<style scoped>
.black-text {
  color: black;
  font-size: 0.9em;
}
</style>
