<template>
  <div>
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-dialog v-model="openAutoClear" width="600">
      <v-card height="100%" style="padding-top:40px;padding-bottom:40px;">
        <div
          class="card-headline thai-font"
          primary-title
        >
          ระบบจะทำการอนุมัติการขอยกเลิกของร้านอาหาร
          และนำคูปองที่สิ้นสุดการสุ่มออกจาดตู้โดยอัตโนมัติ
        </div>

        <div class="card-btns">
          <v-btn color="#ADABA8" dark large
            @click="openAutoClear = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn color="#11C8CD" dark large @click="autoClear()">
            ยืนยัน
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-toolbar fixed height="56px" :key="this.componentKey">
      <v-toolbar-items>
        <v-btn flat class="subheading clickable thai-font"
          @click="gotoFirstPage"
        >
          หน้าแรก
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat class="subheading thai-font clickable" @click="openAutoClear = true">
            จัดการคูปองในตู้
        </v-btn>
        <v-btn flat class="subheading thai-font clickable" @click="gotoPayment()">
            ระบบการเงิน
        </v-btn>
        <v-btn flat class="subheading thai-font clickable" @click="logout()">
            ออกจากระบบ
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import AdminService from '../services/AdminService';

export default {
  name: 'AdminNavbar',
  data() {
    return {
      openAutoClear: false,
      componentKey: 0,
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
    };
  },
  methods: {
    async logout() {
      try {
        AdminService.logout();
        this.$store.dispatch('changeLoginStatus', false);
        this.$store.dispatch('changeLoginInfo', {});
        this.componentKey += 1;
        this.$router.push({ name: 'home' });
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    gotoPayment() {
      this.$router.push({ name: 'admin-payment' });
    },
    gotoCoupon() {
      this.$router.push({ name: 'admin-coupon' });
    },
    gotoFirstPage() {
      this.$router.push({ name: 'admin-coupon' });
    },
    async autoClear() {
      try {
        await AdminService.autoClear();
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },

  },
};
</script>

<style scoped>
.my-long-button {
  min-height: 5vh;
}

a:link,
a:visited {
  color: black;
  cursor: auto;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:link:active,
a:visited:active {
  color: black;
}

.clickable:hover {
  cursor: pointer;
}

.nav-text {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 400;
  text-transform: none !important;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.popup {
  background: white;
  border-radius: 5px;
  bottom: 20vh;
  height: 60vh;
  left: 35vw;
  padding: 20px;
  position: fixed;
  right: 35vw;
  top: 20vh;
  width: 30vw;
  z-index: 201;
}

.fullscreen-container {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.x-icon {
  margin-left: auto;
  margin-right: 0;
}

.user-cookie {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}

@media only screen and (max-width: 800px) {
  .popup {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: scroll;
    padding: none;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

/*animation*/

.nothing-enter-active {
  animation: nothing 0.5s;
}

.nothing-leave-active {
  animation: nothing 0.5s reverse;
}
@keyframes nothing {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
