<template>
  <div class="greybox">
    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <h4 class="pl-3 pt-4">
      ตู้กาชาปอง 3 อันดับยอดนิยม
      <v-dialog v-model="dialog" width="40vw">
        <template v-slot:activator="{ on }">
          <v-icon color="white" v-on="on">edit</v-icon>
        </template>

        <v-card style="overflow-y:none;">
          <h1 class="text-xs-center pt-2">ตู้กาชาปอง 3 อันดับยอดนิยม</h1>
          <v-flex class="text-xs-center mx-5" v-if="showTop3Error[0]">
            <v-btn block dark color="#FA7A7A" depressed>
              <v-icon left>error_outline</v-icon>กรุณาเลือกให้ครบสามอันดับ
            </v-btn>
          </v-flex>
          <v-flex class="text-xs-center mx-5" v-if="showTop3Error[1]">
            <v-btn block dark color="#FA7A7A" depressed>
              <v-icon left>error_outline</v-icon>กรุณาเลือกเพียงสามอันดับ
            </v-btn>
          </v-flex>
          <div class="parent" style="overflow-y:scroll;height:60vh;">
            <AdminGashaBox
              v-for="gasha in allGasha"
              :key="gasha.gasha_id"
              style="border-radius:4px;width:30%;"
              class="greybox mx-2 my-2"
              :state="gasha"
              v-on:click.self.native="selectGasha($event,gasha.gasha_id)"
            />
          </div>

          <div class="text-xs-center mt-4 pb-1">
            <v-btn color="#11C8CD" dark style="width:160px;" @click="setTop3">ยืนยัน</v-btn>
          </div>
        </v-card>
      </v-dialog>
    </h4>

    <v-container class="mt-1" align-content-space-between grid-list-md>
      <v-layout row>
        <v-flex xs4 v-for="gasha in top3" v-bind:key="gasha.gasha_id">
          <AdminGashaBox
            style="background-color:white;border-radius: 4px;max-width:200px; height:100%;"
            :state="gasha"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AdminGashaBox from '@/components/AdminGashaBox.vue';
import AdminService from '../services/AdminService';

export default {
  name: 'AdminTop3Gasha',
  components: {
    AdminGashaBox,
  },
  data: () => ({
    top3: [],
    dialog: false,
    allGasha: [],
    select_gasha: [],
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  computed: {
    showTop3Error() {
      const ans = [0, 0];
      ans[0] = this.select_gasha.length < 3;
      ans[1] = this.select_gasha.length > 3;
      return ans;
    },
  },
  async mounted() {
    const x = await AdminService.getTop3Gasha();
    this.top3 = x.data;
    const y = await AdminService.getAllGasha();
    this.allGasha = y.data;
  },
  methods: {
    selectGasha(event, gashaId) {
      event.target.classList.toggle('bluebox');
      if (this.select_gasha.indexOf(gashaId) === -1) {
        this.select_gasha.push(gashaId);
      } else {
        this.select_gasha.splice(this.select_gasha.indexOf(gashaId), 1);
      }
    },
    async setTop3() {
      if (!this.showTop3Error[0] && !this.showTop3Error[1]) {
        try {
          const obj = {
            first_id: this.select_gasha[0].toString(),
            second_id: this.select_gasha[1].toString(),
            third_id: this.select_gasha[2].toString(),
          };
          await AdminService.setTop3(obj);
          this.dialog = false;
          // eslint-disable-next-line
          location.reload();
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      } else {
        // eslint-disable-next-line
        console.log(this.showTop3Error);
      }
    },
  },
};
</script>

<style scoped>
.greybox {
  background: #a6a6a6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.whitebox {
  background-color: #d5d5d5;
}

.bluebox {
  background-color: #c1eced;
}
</style>
