<template>
  <div class="greybox mt-4 pt-4">
    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-dialog v-model="dialog" width="70vw">
      <v-card style="overflow-y:none;">
        <h1 class="text-xs-center pt-4">ข้อมูลตู้กาชาปอง</h1>

        <v-data-table :headers="headers" :items="coupon" class="elevation-1">
          <template slot="headerCell" slot-scope="props">
            <h3 class="py-2" style="color: #333333; font-size:1.3em;">{{ props.header.text }}</h3>
          </template>
          <template v-slot:items="props">
            <td class="text-xs-center">
              <img
                v-bind:src="props.item.food_image"
                class="mt-2 data-text english-font"
                style="height:80px;width:120px;border-radius:5px;"
              >
            </td>
            <td class="text-xs-center data-text english-font">{{ props.item.food_name }}</td>
            <td class="text-xs-center data-text english-font">{{ props.item.actual_price }}</td>
            <td class="text-xs-center data-text english-font">{{ props.item.offer_price }}</td>
            <td class="text-xs-center data-text english-font">{{ props.item.rate }}</td>
            <td class="text-xs-center data-text english-font">{{ props.item.rarity }}</td>
          </template>
          <template v-slot:no-data>
            <h4 class="text-xs-center">ยังไม่มีการเสนอขายคูปอง</h4>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>

    <div class="mx-3 pb-3">
      <v-select
        :items="filters.location"
        label="โซนร้านอาหารทั้งหมด"
        v-model="selectedLocationFilter"
        solo
        prepend-inner-icon="location_on"
      ></v-select>

      <v-select
        :items="filters.type"
        label="ประเภทอาหารทั้งหมด"
        v-model="selectedTypeFilter"
        solo
        prepend-inner-icon="restaurant_menu"
      ></v-select>

      <v-select
        :items="filters.price"
        label="ราคาทั้งหมด"
        v-model="selectedPriceFilter"
        solo
        prepend-inner-icon="local_atm"
      ></v-select>

      <v-btn block color="#11C8CD" full-width dark @click="search()">
        <v-icon>search</v-icon>ค้นหาตู้กาชาปอง
      </v-btn>
    </div>
  </div>
</template>


<script>
import AdminService from '../services/AdminService';

export default {
  name: 'AdminSearch',
  data: () => ({
    selectedPriceFilter: '',
    selectedTypeFilter: '',
    selectedLocationFilter: '',
    dialog: false,
    headers: [
      {
        text: 'คูปองอาหาร',
        align: 'center',
        sortable: false,
        value: 'picture',
      },
      {
        text: 'ชื่ออาหาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ราคาจริง',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ราคาเสนอขาย',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ความหายาก',
        value: 'amount',
        align: 'center',
        sortable: false,
      },
      {
        text: '%การสุ่มได้',
        value: 'status',
        align: 'center',
        sortable: false,
      },
    ],
    filters: {},
    coupon: [],
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  async mounted() {
    try {
      const x = await AdminService.getFilters();
      this.filters = x.data;
    } catch (e) {
      this.snackbar = true;
      this.sncolor = 'error';
      if (e.response) {
        this.sntext = e.response.data;
      } else if (e.request) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
      }
    }
  },
  methods: {
    async search() {
      if (!this.selectedPriceFilter || !this.selectedTypeFilter || !this.selectedLocationFilter) {
        this.snackbar = true;
        this.sncolor = 'error';
        this.sntext = 'โปรดเลือกให้ครบทั้งสามตัวเลือก';
      } else {
        const filters = {
          location: this.selectedLocationFilter,
          price: this.selectedPriceFilter.toString(),
          type: this.selectedTypeFilter,
        };
        try {
          const x = await AdminService.search(filters);
          const y = await AdminService.getGashaponCoupon({
            gasha_id: x.data[0].gasha_id,
          });
          this.coupon = y.data;
          this.dialog = true;
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.sntext = e.response.data;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          } else {
            this.sntext = 'ไม่มีตู้นี้ในระบบ';
          }
        }
      }
    },
  },
};
</script>

<style scoped>
.greybox {
  background: #a6a6a6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}
</style>
