<template>
  <div style="background: white;">
    <div>
      <v-data-table :headers="headers" :items="couponReq" class="elevation-1">
        <template slot="headerCell" slot-scope="props">
          <h3 class="py-2" style="color: #333333; font-size:1.3em;">{{ props.header.text }}</h3>
        </template>
        <template v-slot:items="props">
          <td class="text-xs-center">
            <img
              v-bind:src="props.item.food_image"
              class="mt-2 data-text english-font"
              style="height:80px;width:120px;border-radius:5px;"
            >
          </td>
          <td class="text-xs-center data-text english-font" >{{ props.item.food_name }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.shop_name }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.food_type }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.total_amount }}</td>
          <td class="text-xs-center data-text english-font">
            <StatusButton :state="props.item.status"/>
          </td>
          <td class="text-xs-center mr-2 data-text english-font">
            <v-icon
              v-if="props.item.status === 'waiting'"
              color="black"
              @click="gotoAdminForm(props.item)"
            >edit</v-icon>
            <v-icon v-else color="black" @click="gotoAdminForm(props.item)">remove_red_eye</v-icon>
          </td>
        </template>
        <template v-slot:no-data>
          <h4 class="text-xs-center">ยังไม่มีการเสนอขายคูปอง</h4>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import StatusButton from '@/components/StatusButton.vue';
import AdminService from '../services/AdminService';

export default {
  name: 'AdminCouponTable',
  components: {
    StatusButton,
  },
  props: {
    couponReq: Array,
    showForm: Boolean,
  },
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'คูปองอาหาร',
        align: 'center',
        sortable: false,
        value: 'picture',
      },
      {
        text: 'ชื่ออาหาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ชื่อร้านอาหาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'ประเภทอาหาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'จำนวน',
        value: 'amount',
        align: 'center',
        sortable: false,
      },
      {
        text: 'สถานะ',
        value: 'status',
        align: 'center',
        sortable: false,
      },
      { text: '', value: '', sortable: false },
    ],
  }),

  methods: {
    async gotoAdminForm(obj1) {
      try {
        const x = await AdminService.getCouponReq(obj1.req_id);
        this.$emit('showForm', x.data);
      } catch (err) {
        // eslint-disable-next-line
        console.log(err.response);
      }
    },
  },
};
</script>

<style scoped>
.data-text {
  font-size: 1em;
}

.heading-text {
  font-size: 36px;
}

</style>
