<template>
  <v-app>
    <div class="bg">

      <v-snackbar v-model="snackbar"
        :color="this.sncolor" :timeout="this.sntimeout"
        right top
        class="thai-font"
      >
        {{sntext}}
        <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
      </v-snackbar>

      <div class="gashapon-left">
        <svg width="240" height="240" viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg">
          <svg class="capsule-left">
            <path
              class="front"
              d="M168.231 174.319C168.231 174.319
          108.072 227.149 49.1213 182.422C0.684835 134.658 61.0705
          69.6607 61.0705 69.6607L123.943 113.144L168.231 174.319Z"
              fill="#FF9292"
            ></path>
            <path
              class="front"
              d="M154.377 162.494L113.797
          98.9011L121.865 103.347L167.477 174.826C167.477 174.826
          108.295 238.419 52.0978 185.513C49.8262 183.375 47.7505
          181.206 45.8257 179.018C99.8852 221.029 154.377 162.494 154.377 162.494Z"
              fill="#FD8181"
            ></path>
            <path
              class="front"
              d="M61.5828 69.1352C74.3875
          56.732 108.953 70.1012 138.784 98.9944C168.617 127.886
          182.42 161.363 169.614 173.765C156.809 186.166 122.245
          172.799 92.4128 143.905C62.5802 115.012 48.7763 81.5368 61.5828 69.1352Z"
              fill="#6B7D8E"
            ></path>
            <path
              class="front"
              d="M56.9319 85.0549C73.3795
          86.4482 96.7076 99.0908 117.696 119.417C138.682 139.742
          151.736 162.337 153.173 178.267C136.725 176.875 113.397 164.233
          92.409 143.905C71.4225 123.58 58.3688 100.985 56.9319 85.0549Z"
              fill="#546370"
            ></path>
          </svg>
          <svg class="confetti-left">
            <path
              class="behind"
              d="M208.859 88.9388C202.601 88.6337
          197.271 93.3015 196.956 99.3624C196.641 105.423 201.461
          110.584 207.719 110.889C213.977 111.194 219.305 106.528
          219.62 100.467C219.935 94.4063 215.117 89.2438 208.859 88.9388Z"
              fill="#92D8FF"
            ></path>
            <path
              class="behind"
              d="M86.8866 90.2182C80.6287 89.9131
          75.2983 94.5809 74.9833 100.642C74.6683 106.703 79.4879
          111.864 85.7459 112.169C92.0039 112.474 97.3325 107.808
          97.6475 101.747C97.9625 95.6857 93.1446 90.5232 86.8866 90.2182Z"
              fill="#FF92E0"
            ></path>
            <path
              class="behind"
              d="M150.922 88.2794C150.779 89.0061
          150.876 89.7807 151.254 90.4863C152.145 92.146 154.247
          92.7896 155.957 91.9213C156.318 91.7394 164.933 87.311
          175.871 77.0539C185.887 67.6612 199.867 51.3407 209.584
          26.9304C210.281 25.1761 209.389 23.21 207.592 22.5363C205.793
          21.8604 203.772 22.7325 203.074 24.4847C193.869 47.6094
          180.686 63.0661 171.247 71.96C160.996 81.6196 152.813
          85.8556 152.733 85.8984C151.751 86.402 151.115 87.2953 150.922 88.2794Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M107.748 3.3424C107.623 3.97523 107.682 4.6472
          107.954 5.28476C108.074 5.56814 115.462 23.4497 108.273 40.6858C107.548 42.4257
          108.405 44.4071 110.193 45.1097C111.978 45.8138 114.016 44.9718 114.741
          43.2318C123.06 23.2892 114.756 3.48925 114.4 2.65609C113.656 0.926249
          111.613 0.111611 109.833 0.838995C108.711 1.29679 107.961 2.25927
          107.748 3.3424Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M179.713 142.995C179.368 144.751 180.485 146.483
          182.288 146.922C182.58 146.996 199 151.158 207.09 161.498C208.256
          162.99 210.447 163.277 211.982 162.137C213.517 160.997 213.816 158.865
          212.648 157.374C203.03 145.077 184.768 140.516 183.997 140.328C182.125
          139.873 180.228 140.981 179.757 142.802C179.741 142.865 179.726 142.931
          179.713 142.995Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M108.205 98.1006C112.738 97.2086 117.281 96.1171 121.722
        94.8615C122.303 94.6996 122.911 94.9296 123.186 95.4159C125.582
        99.6646 126.662 101.746 128.378 105.738C128.73 106.556 130.253
        106.522 130.887 105.665C139.642 91.5115 139.624 74.6353 148.379
        60.4838C149.013 59.6259 148.262 58.7313 147.08 58.9694C142.547
        59.8614 138.005 60.9514 133.564 62.2086C132.982 62.3705 132.375
        62.1404 132.099 61.6541C129.704 57.4054 128.623 55.3253 126.907
        51.3323C126.556 50.5137 125.033 50.5476 124.399 51.4055C115.644
        65.5569 115.662 82.4332 106.907 96.5862C106.273 97.4441 107.022
        98.3381 108.205 98.1006Z"
              fill="#F46262"
            ></path>
            <path
              d="M112.631 128.528C115.49 132.049 118.538 135.489 121.692
        138.767C122.102 139.197 122.164 139.827 121.838 140.283C118.996
        144.266 117.562 146.135 114.651 149.413C114.054 150.086 114.77
        151.388 115.845 151.552C132.834 152.768 148.393 145.168 165.381
        146.384C166.457 146.546 166.945 145.496 166.193 144.579C163.334
        141.058 160.286 137.619 157.134 134.34C156.723 133.911 156.662
        133.28 156.988 132.825C159.83 128.842 161.263 126.972 164.174
        123.695C164.772 123.021 164.055 121.719 162.979 121.555C145.991
        120.339 130.433 127.94 113.443 126.724C112.369 126.561 111.881
        127.611 112.631 128.528Z"
              fill="#7EC66A"
            ></path>
            <path
              d="M192.567 189.585C186.309 189.28 180.979 193.946 180.664
        200.008C180.349 206.069 185.169 211.23 191.427 211.535C197.685
        211.84 203.013 207.174 203.328 201.113C203.643 195.051 198.825
        189.89 192.567 189.585Z"
              fill="#F46262"
            ></path>
            <path
              d="M64.4296 22.4099C58.1716 22.1049 52.843 26.7711 52.528
        32.8337C52.213 38.8946 57.0309 44.0554 63.2889 44.3605C69.5469
        44.6655 74.8755 39.9993 75.1904 33.9384C75.5055 27.8758 70.6876
        22.715 64.4296 22.4099Z"
              fill="#7EC66A"
            ></path>
          </svg>
        </svg>
      </div>

      <div class="gashapon-right">
        <svg
          width="240"
          height="240"
          viewBox="0 0 240 240"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M71.7689 174.319C71.7689 174.319 131.928 227.149 190.879
          182.422C239.315 134.658 178.929 69.6607 178.929 69.6607L116.057
          113.144L71.7689 174.319Z"
            fill="#FF9292"
          ></path>
          <path
            d="M85.6234 162.494L126.203 98.9012L118.135 103.347L72.5235
          174.826C72.5235 174.826 131.705 238.419 187.902 185.513C190.174
          183.375 192.249 181.207 194.174 179.018C140.115 221.029 85.6234
          162.494 85.6234 162.494Z"
            fill="#FD8181"
          ></path>
          <path
            d="M178.417 69.1352C165.612 56.732 131.047 70.1012 101.216
          98.9944C71.3835 127.886 57.5796 161.363 70.3861 173.765C83.1909
          186.166 117.755 172.799 147.587 143.905C177.42 115.012 191.224
          81.5368 178.417 69.1352Z"
            fill="#6B7D8E"
          ></path>
          <path
            d="M183.067 85.0549C166.62 86.4482 143.291 99.0908 122.303
          119.417C101.317 139.742 88.263 162.337 86.8262 178.267C103.274
          176.875 126.602 164.233 147.59 143.905C168.577 123.58 181.63 100.985
          183.067 85.0549Z"
            fill="#546370"
          ></path>
          <svg class="confetti-right">
            <path
              d="M31.1407 88.9388C37.3987 88.6337 42.7291 93.3015 43.0441
          99.3624C43.359 105.423 38.5394 110.584 32.2814 110.889C26.0235
          111.194 20.6948 106.528 20.3799 100.467C20.0649 94.4063 24.8827
            89.2438 31.1407 88.9388Z"
              fill="#92D8FF"
            ></path>
            <path
              d="M153.112 90.2182C159.37 89.9131 164.701 94.5809 165.016
          100.642C165.331 106.703 160.511 111.864 154.253 112.169C147.995 112.474
          142.667 107.808 142.352 101.747C142.037
          95.6857 146.854 90.5232 153.112 90.2182Z"
              fill="#FF92E0"
            ></path>
            <path
              d="M89.0793 88.2794C89.2222 89.0061 89.1248 89.7807 88.7474
          90.4863C87.8565 92.146 85.7538 92.7896 84.0439 91.9214C83.6825
          91.7394 75.0677 87.311 64.1302 77.0539C54.1137 67.6612 40.1339
          51.3407 30.4168 26.9304C29.7203 25.1761 30.6121 23.21 32.4091
          22.5363C34.2076 21.8604 36.2291 22.7325 36.927 24.4847C46.1323
          47.6094 59.3151 63.0661 68.7544 71.96C79.0046 81.6196 87.1875
          85.8556 87.2681 85.8984C88.2495 86.402 88.8859 87.2953 89.0793 88.2794Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M132.252 3.34241C132.377 3.97524 132.318 4.64721 132.046
          5.28477C131.926 5.56815 124.538 23.4498 131.727 40.6858C132.452
          42.4257 131.595 44.4071 129.807 45.1097C128.022 45.8138 125.984
          44.9718 125.259 43.2318C116.94 23.2892 125.244 3.48926 125.6
          2.6561C126.344 0.92626 128.387 0.111619 130.167 0.839003C131.289
          1.29679 132.039 2.25929 132.252 3.34241Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M60.2869 142.996C60.6322 144.751 59.5149 146.483 57.7124
          146.922C57.4198 146.996 40.9999 151.158 32.91 161.498C31.7438
          162.99 29.5525 163.277 28.0185 162.137C26.4827 160.997 26.1837
          158.865 27.352 157.374C36.97 145.077 55.2316 140.516 56.0032
          140.328C57.8747 139.873 59.7723 140.981 60.2432 142.802C60.2595
          142.865 60.2742 142.931 60.2869 142.996Z"
              fill="#B9B9B9"
            ></path>
            <path
              d="M131.795 98.1006C127.262 97.2086 122.719 96.1171 118.278
          94.8615C117.697 94.6996 117.089 94.9296 116.814 95.4159C114.418 99.6646
          113.338 101.746 111.622 105.738C111.27 106.556 109.747 106.522 109.113
          105.665C100.358 91.5115 100.376 74.6353 91.6212 60.4838C90.9874
          59.6259 91.7378 58.7313 92.9196 58.9694C97.4525 59.8614 101.995
          60.9514 106.436 62.2085C107.018 62.3704 107.625 62.1404 107.901
          61.6541C110.296 57.4054 111.377 55.3253 113.093 51.3323C113.444
          50.5137 114.967 50.5475 115.601 51.4055C124.356 65.5569 124.338
          82.4332 133.093 96.5862C133.727 97.4441 132.978 98.3381 131.795 98.1006Z"
              fill="#F46262"
            ></path>
            <path
              d="M127.369 128.528C124.51 132.049 121.462 135.489 118.308
            138.767C117.898 139.197 117.836 139.827 118.162 140.283C121.004
            144.266 122.438 146.135 125.349 149.413C125.946 150.086 125.23
            151.388 124.155 151.552C107.166 152.768 91.6068 145.168 74.6189
            146.384C73.5427 146.546 73.055 145.496 73.8066 144.579C76.666
            141.058 79.7136 137.619 82.8658 134.34C83.2766 133.911 83.3384
            133.28 83.0122 132.825C80.1702 128.842 78.7374 126.972 75.8255
            123.695C75.2285 123.021 75.9446 121.719 77.0207 121.555C94.0086
            120.339 109.567 127.94 126.557 126.724C127.631 126.561 128.119 127.611
            127.369 128.528Z"
              fill="#7EC66A"
            ></path>
            <path
              d="M47.4327 189.585C53.6907 189.28 59.021 193.946 59.3361
            200.008C59.651 206.069 54.8314 211.23 48.5734 211.535C42.3154
            211.84 36.9868 207.174 36.6719 201.113C36.3568 195.051 41.1747
            189.89 47.4327 189.585Z"
              fill="#F46262"
            ></path>
            <path
              d="M175.569 22.4099C181.827 22.1049 187.156 26.7711
            187.471 32.8337C187.786 38.8946 182.968 44.0554 176.71
            44.3605C170.452 44.6655 165.124 39.9993 164.809 33.9384C164.494
            27.8758 169.311 22.715 175.569 22.4099Z"
              fill="#7EC66A"
            ></path>
          </svg>
        </svg>
      </div>

      <CouponCard
        class="square"
        :foodName="this.coupon.food_name"
        :shopName="coupon.shop_name"
        :price="coupon.actual_price"
        :rarity="coupon.rarity"
        :img="coupon.food_image"
        :key="coupon.req_id"
      />
      <div class="button-panel">
        <v-dialog v-model="dialog" width="600" persistent>
          <template v-slot:activator="{ on }">
            <v-btn
              large
              color="#989898"
              dark
              class="deny-btn"
              v-on="on"
              @click="denyCoupon"
              block
            >ไม่รับคูปอง</v-btn>
          </template>

        <v-card height="100%" style="padding-top:30px;">
          <div class="card-headline thai-font" primary-title>
            ท่านปฏิเสธการรับคูปองใบนี้แล้ว ระบบคืนเงินให้ 70% ของราคาตู้ สามารถกดปุ่ม "กลับหน้าแรก"
            เพื่อออกจากการสุ่ม หรือสุ่มคุปองใหม่โดยการกดปุ่ม "ขอสุ่มใหม่"
          </div>

          <div class="card-btns">
            <v-btn color="#FFB258" @click="gotoHome()" dark large>กลับหน้าแรก</v-btn>
            <v-btn color="#FFB258" @click="redraw()" dark large>ขอสุ่มใหม่</v-btn>
          </div>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog2" width="600" persistent>
        <template v-slot:activator="{ on }">
          <v-btn
            large
            color="#65A3E6"
            dark
            class="accept-btn"
            v-on="on"
            @click="confirmCoupon()"
          >ยืนยันรับคูปอง</v-btn>
        </template>

        <v-card height="100%" style="padding-top:30px;">
          <div class="card-headline thai-font" primary-title>
            ท่านยืนยันการรับคูปองใบนี้แล้ว
            โดยสามารถดูคูปองของท่านได้ที่หน้าคูปองของฉัน
          </div>
          <div class="card-btns">
            <v-btn color="#FFB258" style="margin-left: 0 !important;"
            @click="gotoHome()" dark large>กลับหน้าแรก</v-btn>
            <v-btn color="#FFB258" @click="gotoCustomerCoupon()" dark large>ไปหน้าคูปอง</v-btn>
          </div>
        </v-card>
      </v-dialog>

      </div>
      <v-dialog v-model="dialog3" width="600" persistent>
        <v-card height="100%" style="padding-top:40px;">
          <div
            class="card-headline thai-font"
            primary-title
          >ไม่สามารถสุ่มกาชาปองได้ เนื่องจาก cookie ของท่านไม่เพียงพอ
          โปรดเติม cookie ของท่านให้เพียงพอ</div>

          <div class="card-btns">
            <v-btn color="#FFB258" @click="gotoHome()" dark large>กลับหน้าแรก</v-btn>
          </div>
        </v-card>
      </v-dialog>
    </div>
  </v-app>
</template>

<script>
import { TimelineLite } from 'gsap';
import CouponCard from '@/components/CouponCard.vue';
import CustomerService from '../services/CustomerService';

export default {
  components: {
    CouponCard,
  },
  data() {
    return {
      dialog: false,
      dialog2: false,
      dialog3: false,
      coupon: {},
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
    };
  },
  methods: {
    playAnimation() {
      const tl = new TimelineLite();
      const x = document.getElementsByClassName('gashapon-left');
      const y = document.getElementsByClassName('gashapon-right');
      const x1 = document.getElementsByClassName('confetti-left');
      const y1 = document.getElementsByClassName('confetti-right');
      const s = document.getElementsByClassName('square');

      tl.to(x, 0, { x: 0, y: -20, rotation: 0 }, 0)
        .to(y, 0, { x: 0, y: -20, rotation: 0 }, 0)
        .to(
          x,
          1,
          {
            x: -300,
            y: 100,
            rotation: -20,
            scale: 1.2,
          },
          0,
        )
        .to(
          y,
          1,
          {
            x: 300,
            y: 100,
            rotation: 20,
            scale: 1.2,
          },
          0,
        )
        .from(x1, 0.5, { autoAlpha: 0 }, 0.5)
        .from(y1, 0.5, { autoAlpha: 0 }, 0.5)
        .from(s, 0.25, { scale: 0, opacity: 0 }, 1)
        .play();
    },
    async denyCoupon() {
      const gashaID = this.$store.getters.getGashaponID;
      const obj = {
        gasha_id: gashaID,
      };
      try {
        await CustomerService.cancelDraw(obj);
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async confirmCoupon() {
      const obj = {
        req_id: this.coupon.req_id,
      };
      try {
        await CustomerService.confirmCoupon(obj);
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    gotoHome() {
      this.$router.push({ path: '/' });
    },
    gotoCustomerCoupon() {
      this.$router.push({ path: '/customer-coupon' });
    },
    gotoSearch() {
      this.$router.push({ name: 'search-result' });
    },
    async redraw() {
      // check if gashapon can be draw
      if (await this.canDraw()) {
        this.dialog = false;
        const gashaID = this.$store.getters.getGashaponID;
        try {
          const x = await CustomerService.drawCoupon({ gasha_id: gashaID });
          const [foo] = x.data;
          this.coupon = foo;
          this.playAnimation();
        } catch (e) {
          if (e.response) {
            this.sntext = e.response.data;
            this.snackbar = true;
            this.sncolor = 'error';
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
            this.snackbar = true;
            this.sncolor = 'error';
          }
        }
      }
    },
    async canDraw() {
      try {
        const gashaID = this.$store.getters.getGashaponID;
        await CustomerService.canDraw({ gasha_id: gashaID });
      } catch (e) {
        this.dialog = false;
        this.dialog3 = true;
        return false;
      }
      return true;
    },
  },
  async mounted() {
    // get data from store and show it
    const drawCoupon = this.$store.getters.getDrawCoupon;
    this.coupon = drawCoupon;
    this.playAnimation();
  },
};
</script>

<style scoped>
/*.accept-btn {
  position: absolute;
  left: 65%;
  bottom: 10%;
  height: 6%;
  font-size: 1.5em;
}*/

.animater {
  position: fixed;
  bottom: 10px;
  width: 10vw;
  left: 44vw;
}

.bg {
  background-image: url("../assets/sun-bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: inline-flex;
  align-items: flex-start;
}

.button-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: calc(32% + 330px);
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}

/*.deny-btn {
  position: absolute;
  left: 35%;
  bottom: 10%;
  height: 6%;
  font-size: 1.5em;
}*/

.gashapon-right {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -10px;
}

.gashapon-left {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -220px;
}

.square {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 32%;
  transform: scale(1.5);
}
.accept-btn, .deny-btn{
  margin: 5px;
}
@media only screen and (max-width: 600px) {
  .button-panel {
    flex-direction: column;
    width: 300px;
    padding: 5px;
  }
  .accept-btn, .deny-btn{
    width: auto;
  }
  .card-btns {
    display: flex;
    flex-direction: row;
  }
}
</style>
