<template>
  <div>
    <v-layout row justify-center>
      <div class="box elevation-5">
        <img class="food-picture" :src="this.state.food_image">
        <h2 class="food-name text-truncate px-1 mt-3">{{this.state.food_name}}</h2>
        <h4>ราคาอาหาร: {{this.state.actual_price}} บาท</h4>
        <h4 class="english-font" style="color: grey;">{{this.username}}</h4>
      </div>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'CouponCard',
  props: {
    state: {},
    // eslint-disable-next-line
    username: '',
  },
};
</script>

<style scoped>
.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  height: 250px;
  line-height: 0;
  padding: 0;
  text-align: center;
  width: 200px;
  margin: auto;
}

.food-picture {
  height: 140px;
  width: 200px;
}

.text {
  line-height: 25px;
  position: relative;
  top: 7px;
}

h4 {
  line-height: 25px;
}
</style>
