<template>
  <div>
    <v-layout row justify-center>
      <div class="box elevation-5" @click.stop="dialog = true">
        <img class="food-picture" v-bind:src="this.state.food_image">
        <div class="text">
          <h2 class="food-name text-truncate px-1">{{this.state.food_name}}</h2>
          <h4 class="shop-name" style="position: relative; top: 3px;">{{this.state.shop_name}}</h4>
          <h4>ราคาอาหาร: {{this.state.actual_price}} บาท</h4>
          <h4 style="color:red;">คูปองจะหมดอายุในอีก {{this.expirationDate}} วัน</h4>
        </div>
      </div>

      <v-dialog
        v-model="dialog"
        max-width="400"
        max-hight="500"
      >
        <v-card class="pa-5">
          <v-flex class="text-xs-center my-0">
            <canvas id="canvas"></canvas>
          </v-flex>

          <div class="line mb-4"/>

          <div>
          <h4 class="d-inline">รายละเอียดคูปอง</h4>
          <h4 class="d-inline" style="margin-left:30px;color:red;">
            จะหมดอายุในอีก {{this.expirationDate}} วัน
          </h4>
          </div>
          <h4>สามารถใช้ได้ถึง &emsp;&emsp;&emsp;
            {{this.state.expiration.split('T')[0]}}</h4>
          <h4>สามารถใช้ได้ที่</h4>
          <h4>
            &emsp;&emsp;ร้านอาหาร: {{this.state.shop_name}}<br/>
            &emsp;&emsp;สาขา: {{this.locationString}}
          </h4>
        </v-card>
      </v-dialog>
    </v-layout>

  </div>
</template>

<script>
const QRCode = require('qrcode');

export default {
  data() {
    return {
      dialog: false,
    };
  },
  name: 'CouponCard',
  props: {
    state: {},
    // eslint-disable-next-line
    username: '',
  },
  mounted() {
    const canvas = document.getElementById('canvas');
    // eslint-disable-next-line
    const couponId = this.state.coupon_id;
    // eslint-disable-next-line
    const username = this.username;
    QRCode.toCanvas(canvas, `http://3.19.71.134/shop-use/${couponId}/${username}`);
  },
  computed: {
    expirationDate() {
      const date1 = Date.now();
      const date2 = new Date(this.state.expiration);
      const timeDiff = Math.abs(date2 - date1);
      return Math.ceil(timeDiff / (1000 * 3600 * 24));
    },
    locationString() {
      return this.state.location.join(' ');
    },
  },
};
</script>

<style scoped>
.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  height: 250px;
  line-height: 0;
  padding: 0;
  text-align: center;
  width: 200px;
  margin: auto;
}

.rarity {
  height: 26.25px;
  line-height: 20px;
  padding: 3px;
  width: 100%;
}

.rarity-text {
  color: white;
}

.food-picture {
  height: 140px;
  width: 200px;
}

.shop-name {
  font-family: "Roboto", sans-serif;
}

.text {
  line-height: 25px;
  position: relative;
  top: 7px;
}

h4 {
  line-height: 25px;
}

.line {
  width: 100%;
  height: 0px;
  left: 560px;
  top: 370px;

  border: 1px solid #000000;
}
</style>
