<template>
  <div>
    <v-layout row justify-center>
      <div class="box elevation-5" @click.stop="dialog = true">
        <img class="food-picture" v-bind:src="this.img">
        <div class="rarity" v-bind:style="{ background: rarityColor }">
          <h4 class="rarity-text">ระดับความหายาก: {{this.rarity}}</h4>
        </div>
        <div class="text">
          <h2 class="food-name text-truncate px-1">{{this.foodName}}</h2>
          <h4 class="shop-name" style="position: relative; top: 3px;">{{this.shopName}}</h4>
          <h4>ราคาอาหาร: {{this.price}} บาท</h4>
        </div>
      </div>
    </v-layout>

  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
  name: 'CouponCard',
  props: {
    foodName: String,
    shopName: String,
    price: Number,
    rarity: String,
    img: String,
    expiration: String,
  },
  computed: {
    rarityColor() {
      switch (this.rarity) {
        case 'C':
          return '#B79587';
        case 'R':
          return '#FF8D69';
        case 'SR':
          return '#B7B7B7';
        case 'SSR':
          return '#FFBA69';
        default:
          return '#000000';
      }
    },
  },
};
</script>

<style scoped>
.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  height: 250px;
  line-height: 0;
  padding: 0;
  text-align: center;
  width: 200px;
  margin: auto;
}

.rarity {
  height: 26.25px;
  line-height: 20px;
  padding: 3px;
  width: 100%;
}

.rarity-text {
  color: white;
}

.food-picture {
  height: 140px;
  width: 200px;
}

.shop-name {
  font-family: "Roboto", sans-serif;
}

.text {
  line-height: 25px;
  position: relative;
  top: 7px;
}

h4 {
  line-height: 25px;
}
</style>
