<template>
  <div style="background-color:white;">

    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <div v-if="!notEnoughCred && !confirmDraw">
      <div style="background-color:white; text-align:center;" v-if="Coupons.length > 0">
        <h1 class="coupon-carousel-title" style="font-size: 3em;padding-top:20px;">รายการคูปอง</h1>
      </div>
      <div
        style="background-color:white; text-align:center;"
        v-if="Coupons.length <= 0"
        class="pb-4"
      >
        <h1
          class="coupon-carousel-title"
          style="font-size: 3em;padding-top:20px;"
        >ไม่มีคูปองในตู้นี้</h1>
      </div>
      <v-carousel
        v-if="Coupons.length > 0"
        class="coupon-carousel"
        prev-icon="keyboard_arrow_left"
        next-icon="keyboard_arrow_right"
        height="42vh"
        hide-delimiters
        light
      >
        <v-carousel-item v-for="i in Math.ceil(Coupons.length / 3)" :key="i" class="pt-3" lazy>
          <v-container pt-3>
            <v-layout row justify-center>
              <CouponCard
                v-for="item in Coupons.slice((i - 1) * 3, i * 3)"
                :foodName="item.food_name"
                :shopName="item.shop_name"
                :price="item.actual_price"
                :rarity="item.rarity"
                :img="item.food_image"
                :key="item.food_name"
                class="elevation-1 mx-3 my-5"
              />
            </v-layout>
          </v-container>
        </v-carousel-item>
      </v-carousel>
      <v-layout justify-center pb-5 style="background-color:white;">
        <button class="carousel-btn" @click="confirmDraw = true" v-if="Coupons.length > 0">
          สุ่มกาชาปอง
        </button>
      </v-layout>
    </div>

    <v-card height="100%"
      style="padding-top:40px;text-align:center;padding-bottom:40px;"
      v-else-if="confirmDraw"
    >
      <div
        class="card-headline thai-font confirm-dialog"
        primary-title
      ><p>ต้องการสุ่มกาชาปอง</p><p>ใช่หรือไม่?</p></div>
      <div class="card-btns">
        <v-btn color="#ADABA8" @click="cancel()" dark large class="confirm-buttons">ยกเลิก</v-btn>
        <v-btn color="#FFB258" @click="drawGashapon()" dark large class="confirm-buttons">
          สุ่มกาชาปอง
        </v-btn>
      </div>
    </v-card>

    <v-card height="100%"
      style="padding-top:40px;text-align:center;padding-bottom:40px"
      v-else
    >
      <div
        class="card-headline thai-font"
        primary-title
      >ไม่สามารถสุ่มกาชาปองได้ เนื่องจาก cookie ของท่านไม่เพียงพอ
      โปรดเติม cookie ของท่านให้เพียงพอ</div>
      <div class="card-btns">
        <v-btn color="#ADABA8" @click="cancel()" dark large>ยกเลิก</v-btn>
        <v-btn color="#FFB258" @click="gotoCustomerProfile()" dark large>เติม cookie</v-btn>
      </div>
    </v-card>
  </div>
</template>

<script>
import CouponCard from '@/components/CouponCard.vue';
import CustomerService from '../services/CustomerService';

export default {
  name: 'CouponCarousel',
  components: {
    CouponCard,
  },
  props: {
    Coupons: Array,
  },
  data() {
    return {
      sntext: '',
      sncolor: '',
      snackbar: false,
      sntimeout: 5000,
      notEnoughCred: false,
      confirmDraw: false,
    };
  },
  watch: {
    // eslint-disable-next-line
    Coupons: function () {
      this.notEnoughCred = false;
      this.confirmDraw = false;
    },
  },
  methods: {
    async drawGashapon() {
      const x = this.$store.getters.getLoginInfo;
      if (!x.cus_id) {
        this.$emit('openlogin');
      } else {
        const gashaID = this.$store.getters.getGashaponID;
        try {
          const y = await CustomerService.drawCoupon({ gasha_id: gashaID });
          const [foo] = y.data;
          this.$store.dispatch('changeDrawCoupon', foo);
          this.$router.push({ path: 'gashapon-animation' });
        } catch (e) {
          this.snackbar = true;
          this.sncolor = 'error';
          if (e.response) {
            this.notEnoughCred = true;
            this.confirmDraw = false;
          } else if (e.request) {
            this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
          }
        }
      }
    },
    gotoCustomerProfile() {
      this.$router.push({ name: 'customer-payment' });
    },
    cancel() {
      this.notEnoughCred = false;
      this.confirmDraw = false;
    },
  },
};
</script>

<style scoped>
.carousel-btn {
  background: #ffb258;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.2em;
  height: 48px;
  outline: none;
  transition: 0.3s;
  width: 158.4px;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}


.carousel-btn:hover {
  background: #f57c00;
}

.carousel-btn:visited {
  opacity: 0.5;
}

.carousel-btn:active {
  background: #ef6c00;
}

.coupon-carousel {
  background: white;
  box-shadow: none !important;
  width: 100%;
}

.coupon-carousel-title {
  position: relative;
  transform: translatey(20px);
  z-index: 200;
}

.confirm-dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .confirm-buttons {
    display: block;
    width: 90%;
  }
  .card-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
