<template>
  <div class="payment-container">
    <div class="computer">
      <v-snackbar
        v-model="snackbar"
        :color="this.sncolor"
        :timeout="this.sntimeout"
        right
        top
        class="english-font"
      >
        {{sntext}}
        <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
      </v-snackbar>

      <div class="whitebox text-xs-center state-select">
        <h2 class="mb-1 english-font user-name">{{this.$store.getters.getLoginInfo.username}}</h2>

        <v-layout row class="mb-3 cookies-area">
          <v-flex align-baseline>
            <img src="../assets/cookie.png" style="vertical-align:middle;">
            <p
              class="d-inline ml-2 my-font"
              style="vertical-align:middle;"
            >{{this.$store.getters.getLoginInfo.values}} cookies</p>
          </v-flex>
        </v-layout>

        <div class="tabs">
          <v-btn
            :color="this.btn1Color"
            :dark="this.btn1ColorDark"
            class="state-btn elevation-0"
            style="font-size:1.2em;"
            @click="switchToViewProfile()"
          >ข้อมูลโปรไฟล์</v-btn>
          <v-btn
            :color="this.btn2Color"
            :dark="this.btn2ColorDark"
            class="state-btn elevation-0"
            @click="switchToPaymentOption()"
            style="align-self: flex-end; text-transform: none; font-size:1.2em;"
          >เติม cookies</v-btn>
        </div>
      </div>

      <div class="whitebox mt-4 py-5 px-5 view-profile" v-show="viewProfile">
        <v-layout column>
          <v-layout row>
            <v-flex class="text-xs-left">
              <h1 class="pa-1 my-header">ข้อมูลโปรไฟล์</h1>
            </v-flex>
            <v-flex class="text-xs-right">
              <v-btn dark color="#FFB258" @click="switchToEditProfile()">
                <v-icon>edit</v-icon>แก้ไขโปรไฟล์
              </v-btn>
            </v-flex>
          </v-layout>
          <div class="info-grid">
            <p class="thai-font">ชื่อ-นามสกุล</p>
            <p
              class="english-font"
            >{{this.$store.getters.getLoginInfo.fname}}
             {{this.$store.getters.getLoginInfo.lname}}</p>
            <p class="thai-font">ชื่อผู้ใช้</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.username}}</p>
            <p class="thai-font">อีเมล</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.email}}</p>
            <p class="thai-font">เบอร์ติดต่อ</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.telephone}}</p>
          </div>
        </v-layout>
      </div>

      <div class="whitebox mt-4 py-5 px-5" v-show="editProfile">
        <v-flex class="text-xs-left">
          <h1 class="pa-1 my-header">แก้ไขโปรไฟล์</h1>
        </v-flex>

        <v-flex>
          <v-layout column class="edit-info-input">
            <p class="special-p">ชื่อ</p>
            <v-layout align-baseline>
              <input class="my-input" v-model="loginInfo.fname">
              <p class="special-p ml-4 mr-4">นามสกุล</p>
              <input class="my-input" placeholder="lastname" v-model="loginInfo.lname">
            </v-layout>

            <p class="special-p pt-1">ชื่อผู้ใช้</p>
            <input
              class="my-input"
              disabled
              style="width:70%;color:grey;"
              v-model="loginInfo.username"
            >

            <p class="special-p pt-1">อีเมล</p>
            <input
              class="my-input"
              disabled
              style="width:70%;color:grey;"
              v-model="loginInfo.email"
            >

            <p class="special-p pt-1">เบอร์ติดต่อ</p>
            <input class="my-input" style="width:50%;" v-model="loginInfo.telephone">
          </v-layout>
        </v-flex>

        <div class="text-xs-center">
          <v-btn color="#ADABA8" @click="switchToViewProfile()" dark>ยกเลิก</v-btn>
          <v-btn color="#FC9722" @click="changeProfile()" dark>บันทึก</v-btn>
        </div>
      </div>

      <div class="whitebox mt-4 py-5 px-5" v-show="paymentOption">
        <v-layout column>
          <v-layout row>
            <v-flex class="text-xs-left">
              <h1 class="pa-1 d-inline my-header">เติม</h1>
              <h1 class="english-font d-inline my-header">cookie</h1>
            </v-flex>
          </v-layout>

          <div
            class="text-xs-center"
            style="font-size:1.2em;"
          >เลือกจำนวนและราคา Cookie ที่ต้องการเติมเข้าระบบ</div>

          <div class="select-payment">
            <div class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="10" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">10 cookies</p>
              </v-flex>
            </div>
            <p class="d-inline my-font" style="justify-self:end;">50 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="20" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">20 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">100 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="30" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">30 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">150 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="50" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">50 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">250 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="100" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">100 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">500 บาท</p>
          </div>
        </v-layout>

        <div class="text-xs-center" @click="switchToPaymentInfo()">
          <v-btn color="#FFB258" dark>ดำเนินการต่อ</v-btn>
        </div>
      </div>

      <div class="whitebox mt-4 py-5 px-5" v-show="paymentInfo">
        <v-flex class="text-xs-left">
          <h1 class="pa-1 my-header d-inline">เติม</h1>
          <h1 class="english-font my-header d-inline">cookie</h1>
        </v-flex>

        <div class="text-xs-center" style="font-size:1.2em;">กรอกข้อมูลบัตรเครดิต</div>

        <v-flex>
          <div class="edit-info-input">
            <p class="special-p2 pt-1">หมายเลขบัตร</p>
            <input class="my-input" v-model="card_number" placeholder="โปรดกรอกข้อมูล">

            <p class="special-p2 pt-1">วันหมดอายุ</p>
            <input class="my-input" v-model="expiration" placeholder="ดด/ปป">

            <p class="special-p2 pt-1">CVC</p>
            <input class="my-input" v-model="cvc" placeholder="หมายเลข 3-4 หลัก">
          </div>
        </v-flex>

        <div class="text-xs-center">
          <v-btn color="#ADABA8" dark style="width:150px;" @click="switchToPaymentOption()">
            ยกเลิก
          </v-btn>
          <v-btn color="#FFB258" dark style="width:150px;" @click="dialog = true">
            ดำเนินการต่อ
          </v-btn>
        </div>
      </div>

      <v-dialog v-model="dialog" width="600">
        <v-card text-xs-center class="pa-5" height="100%">
          <v-layout column align-center>
            <div class="mb-3">
              <p class="my-header d-inline">ยืนยันการเติม</p>
              <p class="english-font my-header d-inline"> {{this.pickedcookies}} cookies</p>
            </div>
            <p
              class="my-header"
              style="font-weight:bold;margin-bottom:50px;"
            >จำนวนเงิน {{this.realmoney}} บาท</p>
            <p
              style="color: #838383;"
            >* cookie ที่ได้รับจะเข้าไอดี {{this.$store.getters.getLoginInfo.username}}</p>
            <div class="text-xs-center">
              <v-btn color="#ADABA8" style="width:160px;" dark large @click="dialog = false">
                ยกเลิก
              </v-btn>
              <v-btn color="#FFB258" style="width:160px;" dark large @click="topUp()">
                ชำระเงิน
              </v-btn>
            </div>
          </v-layout>
        </v-card>
      </v-dialog>
    </div>
    <!--/////// upper is for desktop view (responsive) ///////-->
    <!--/////// below is for mobile view (responsive) ///////-->
    <div class="mobile">
      <h2 class="mb-1 english-font user-name">{{this.$store.getters.getLoginInfo.username}}</h2>
      <v-layout row class="mb-3 cookies-area">
        <v-flex align-baseline>
          <img src="../assets/cookie.png" style="vertical-align:middle;">
          <p class="d-inline ml-2 my-font" style="vertical-align:middle;">
            {{this.$store.getters.getLoginInfo.values}} cookies
          </p>
        </v-flex>
      </v-layout>
      <div class="tabs">
        <v-btn
          :color="this.btn1Color"
          :dark="this.btn1ColorDark"
          class="state-btn"
          style="font-size:1.2em;"
          depressed
          @click="switchToViewProfile()"
        >ข้อมูลโปรไฟล์</v-btn>
        <v-btn
          :color="this.btn2Color"
          :dark="this.btn2ColorDark"
          class="state-btn"
          depressed
          @click="switchToPaymentOption()"
          style="align-self: flex-end; text-transform: none; font-size:1.2em;"
        >เติม cookies</v-btn>
      </div>
      <div class="whitebox mt-4 py-5 px-5 view-profile" v-show="viewProfile">
        <v-layout column>
          <v-layout row>
              <h1 class="pa-1 my-header">ข้อมูลโปรไฟล์</h1>
              <v-btn flat icon dark color="black" @click="switchToEditProfile()">
                <v-icon>edit</v-icon>
              </v-btn>
          </v-layout>

          <div class="info-grid">
            <p class="thai-font">ชื่อ-นามสกุล</p>
            <p
              class="english-font"
            >{{this.$store.getters.getLoginInfo.fname}}
             {{this.$store.getters.getLoginInfo.lname}}</p>
            <p class="thai-font">ชื่อผู้ใช้</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.username}}</p>
            <p class="thai-font">อีเมล</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.email}}</p>
            <p class="thai-font">เบอร์ติดต่อ</p>
            <p class="english-font">{{this.$store.getters.getLoginInfo.telephone}}</p>
          </div>
        </v-layout>
      </div>
      <div class="whitebox" v-show="editProfile">
        <v-flex class="text-xs-left">
          <h1 class="pa-1 my-header">แก้ไขโปรไฟล์</h1>
        </v-flex>

        <v-flex>
          <v-layout column class="edit-info-input">
            <p class="special-p mt-3">ชื่อ</p>
            <input
            class="my-input"
            placeholder="firstname"
            style="width: 60%;"
            v-model="loginInfo.fname">
            <p class="special-p pt-1">นามสกุล</p>
            <input
            class="my-input"
            placeholder="lastname"
            style="width: 60%;"
            v-model="loginInfo.lname">

            <p class="special-p pt-1">ชื่อผู้ใช้</p>
            <input
              class="my-input"
              disabled
              style="width:100%;color:grey;"
              placeholder="username"
              v-model="loginInfo.username"
            >

            <p class="special-p pt-1">อีเมล</p>
            <input
              class="my-input"
              disabled
              style="width:100%;color:grey;"
              placeholder="name@email.com"
              v-model="loginInfo.email"
            >

            <p class="special-p pt-1">เบอร์ติดต่อ</p>
            <input
              class="my-input"
              style="width:80%;"
              placeholder="089-999-9999"
              v-model="loginInfo.telephone"
            >
          </v-layout>
        </v-flex>

        <div class="text-xs-center">
          <v-btn
          color="#ADABA8"
          style="width: 40%;"
          @click="switchToViewProfile()"
          dark>
            ยกเลิก
          </v-btn>
          <v-btn color="#FC9722" style="width: 40%;" @click="changeProfile()" dark>บันทึก</v-btn>
        </div>
      </div>
      <div class="whitebox mt-4 py-5 px-5" v-show="paymentOption">
        <v-layout column>
          <v-layout row>
            <v-flex class="text-xs-left">
              <h1 class="pa-1 d-inline my-header">เติม</h1>
              <h1 class="english-font d-inline my-header">cookie</h1>
            </v-flex>
          </v-layout>

          <div
            class="text-xs-left"
            style="font-size:1.2em;"
          >เลือกจำนวนและราคา Cookie<br/>ที่ต้องการเติมเข้าระบบ</div>

          <div class="select-payment">
            <div class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="10" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:left;">
                <p class="d-inline my-font ml-2" style="vertical-align:left;">10 cookies</p>
              </v-flex>
            </div>
            <p class="d-inline my-font" style="justify-self:end;">50 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="20" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">20 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">100 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="30" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">30 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">150 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="50" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">50 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">250 บาท</p>

            <v-layout row class="mb-3">
              <v-flex align-baseline>
                <input type="radio" class="mr-3" value="100" v-model="pickedcookies">
                <img src="../assets/cookie.png" style="vertical-align:middle;">
                <p class="d-inline my-font ml-2" style="vertical-align:middle;">100 cookies</p>
              </v-flex>
            </v-layout>
            <p class="d-inline my-font" style="justify-self:end;">500 บาท</p>
          </div>
        </v-layout>

        <div class="text-xs-center" @click="switchToPaymentInfo()">
          <v-btn color="#FFB258" dark>ดำเนินการต่อ</v-btn>
        </div>
      </div>


      <div class="whitebox mt-4 py-5 px-5" v-show="paymentInfo">
        <v-flex class="text-xs-left">
          <h1 class="pa-1 my-header d-inline">เติม</h1>
          <h1 class="english-font my-header d-inline">cookie</h1>
        </v-flex>

        <div class="text-xs-center" style="font-size:1.2em;">กรอกข้อมูลบัตรเครดิต</div>

        <div class="edit-info-input">

            <p class="special-p2 pt-1">หมายเลขบัตร</p>
            <input class="my-input" v-model="card_number" placeholder="โปรดกรอกข้อมูล">


            <p class="special-p2 pt-1">วันหมดอายุ</p>
            <input class="my-input" v-model="expiration" placeholder="ดด/ปป">

            <p class="special-p2 pt-1">CVC</p>
            <input class="my-input"
              v-model="cvc"
              style="width: 50%;"
              placeholder="หมายเลข 3-4 หลัก"
            >

          <div class="text-xs-center flex-row">
            <v-btn color="#ADABA8" dark style="width:150px; margin-left: 0px;"
            @click="switchToPaymentOption()">
              ยกเลิก
            </v-btn>
            <v-btn color="#FFB258" dark style="width:150px;" @click="dialog = true">
              ดำเนินการต่อ
            </v-btn>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import CustomerService from '../services/CustomerService';

export default {
  name: 'CustomerPayment',
  async mounted() {
    const x = await CustomerService.getInfo();
    this.loginInfo = x.data;
  },
  data: () => ({
    loginInfo: {
      fname: '',
      lname: '',
      email: '',
    },
    viewProfile: true,
    editProfile: false,
    paymentOption: false,
    paymentInfo: false,
    btn1Color: '#FC9722',
    btn2Color: 'white',
    btn1ColorDark: true,
    btn2ColorDark: false,
    dialog: false,
    pickedcookies: 0,
    card_number: '',
    expiration: '',
    cvc: '',
    realmoney: 0,
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  watch: {
    pickedcookies(newVal) {
      this.realmoney = newVal * 5;
    },
  },
  methods: {
    switchToViewProfile() {
      this.viewProfile = true;
      this.editProfile = false;
      this.paymentOption = false;
      this.paymentInfo = false;
      this.btn1Color = '#FC9722';
      this.btn2Color = 'white';
      this.btn1ColorDark = true;
      this.btn2ColorDark = false;
    },
    switchToEditProfile() {
      this.viewProfile = false;
      this.editProfile = true;
      this.paymentOption = false;
      this.paymentInfo = false;
      this.btn1Color = '#FC9722';
      this.btn2Color = 'white';
      this.btn1ColorDark = true;
      this.btn2ColorDark = false;
    },
    switchToPaymentOption() {
      this.viewProfile = false;
      this.editProfile = false;
      this.paymentOption = true;
      this.paymentInfo = false;
      this.btn1Color = 'white';
      this.btn2Color = '#FC9722';
      this.btn1ColorDark = false;
      this.btn2ColorDark = true;
    },
    switchToPaymentInfo() {
      this.viewProfile = false;
      this.editProfile = false;
      this.paymentOption = false;
      this.paymentInfo = true;
      this.btn1Color = 'white';
      this.btn2Color = '#FC9722';
      this.btn1ColorDark = false;
      this.btn2ColorDark = true;
    },
    async topUp() {
      const obj = {
        values: this.pickedcookies.toString(),
        card_number: this.card_number.toString(),
        expiration: this.expiration.toString(),
        cvc: this.cvc.toString(),
      };
      try {
        await CustomerService.topUp(obj);
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async changeProfile() {
      const obj = {
        fname: this.loginInfo.fname,
        lname: this.loginInfo.lname,
        telephone: this.loginInfo.telephone,
      };
      try {
        await CustomerService.changeProfile(obj);
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
};
</script>

<style scoped>
.flex-row {
  display: flex;
  flex-direction: row;
}

.edit-info-input {
  margin-top: 25px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 75%;
  grid-column-gap: 10px;
  margin-left: 5%;
  margin-right: 20%;
}

.info-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 2%;
  justify-items: flex-start;
}

.mobile {
  text-align: center;
  display: none;
}

.my-flex {
  align-content: flex-end;
}

.my-font {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: normal;
}

.my-input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.my-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
}

.payment-container {
  padding-top: 100px;
  margin-left: 22vw;
  margin-right: 22vw;
}

.select-payment {
  margin-top: 25px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.special-p {
  width: 100px;
  font-size: 1.2em;
}

.special-p2 {
  font-size: 1.2em;
}

.state-btn {
  width: 40%;
}

.state-select {
  padding-top: 34px;
  padding-bottom: 18px;
}

.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .computer {
    display: none;
  }

  .mobile {
    display: block;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 86px;
  }

  .tabs {
    width: 100vw;
    height: 39px;
  }

  .state-btn {
    margin: 0;
    width: 50vw;
    height: 39px;
  }

  .whitebox {
    width: 100vw;
    margin-top: 0 !important;
    position: relative;
    padding: 30px !important;
  }

  .info-grid {
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
    margin-top: 30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
  }

  .edit-info-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .special-p {
    width: fit-content;
  }

  .select-payment {
    margin: 0;
    justify-items: flex-start;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
  }

  .special-p2 {
    width: fit-content;
  }
}
</style>
