<template>
  <div class="search-component">
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-container class="inner-div">
      <img src="../assets/LuckyLogo.svg" alt="Logo" class="logo">

      <p class="text-xs-center display-1 mt-1 english-font">May the luck be with you</p>

      <div class="search-and-title">
        <h1 class="search-headline my-2">ค้นหาตู้กาชาปองอาหาร</h1>

        <v-container class="search-box">
          <v-layout class="my-layout">
            <v-flex xs4 mr-2 class="my-flex">
              <p class="title thai-font">โซนร้านอาหาร</p>
              <v-select
                :items="locationFilters"
                label="โซนร้านอาหารทั้งหมด"
                class="search-filters"
                v-model="selectedLocationFilter"
                solo
                prepend-inner-icon="location_on"
              ></v-select>
            </v-flex>

            <v-flex xs4 mr-2 class="my-flex">
              <p class="title thai-font">ประเภทอาหาร</p>
              <v-select
                :items="typeFilters"
                label="ประเภทอาหารทั้งหมด"
                class="search-filters"
                v-model="selectedTypeFilter"
                solo
                prepend-inner-icon="restaurant_menu"
              ></v-select>
            </v-flex>

            <v-flex xs4 class="my-flex">
              <p class="title thai-font">ราคา</p>
              <v-select
                :items="priceFilters"
                label="ราคาทั้งหมด"
                class="search-filters"
                v-model="selectedPriceFilter"
                solo
                prepend-inner-icon="local_atm"
              ></v-select>
            </v-flex>

            <div class="mb-2">
              <p class="title hidden">A</p>
              <button class="search-button ml-2 d-flex" @click="getSearchResult()">
                <v-icon dark class="search-icon">search</v-icon>
                <div class="search-button-text">ค้นหาตู้กาชาปอง</div>
              </button>
            </div>
          </v-layout>
        </v-container>
      </div>
    </v-container>
  </div>
</template>

<script>
import CustomerService from '../services/CustomerService';

export default {
  name: 'Search',
  data: () => ({
    locationFilters: ['โซนร้านอาหารทั้งหมด'],
    priceFilters: ['ราคาทั้งหมด'],
    typeFilters: ['ประเภทอาหารทั้งหมด'],
    selectedLocationFilter: '',
    selectedPriceFilter: '',
    selectedTypeFilter: '',
    sncolor: '',
    sntext: '',
    snackbar: false,
    sntimeout: 5000,
  }),
  mounted() {
    this.getFilters();
    if (this.$store.getters.getGashaFilter) {
      const x = this.$store.getters.getGashaFilter;
      this.selectedLocationFilter = x.location;
      this.selectedPriceFilter = x.price;
      this.selectedTypeFilter = x.type;
    }
    if (this.$store.getters.getGashaResult) {
      this.gashaResultList = this.$store.getters.getGashaResult;
    }
  },
  methods: {
    async getFilters() {
      const x = await CustomerService.getFilters();
      this.locationFilters = this.locationFilters.concat(x.data.location);
      this.priceFilters = this.priceFilters.concat(x.data.price);
      this.typeFilters = this.typeFilters.concat(x.data.type);
    },
    async getSearchResult() {
      const filters = {
        location: this.selectedLocationFilter,
        price: this.selectedPriceFilter,
        type: this.selectedTypeFilter,
      };
      try {
        const x = await CustomerService.search(filters);
        this.$store.dispatch('changeGashaFilter', filters);
        this.$store.dispatch('changeGashaResult', x.data);
        this.$router.push({ path: '/search-result' });
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
};
</script>

<style scoped>
.english-font {
  font-family: "Roboto", sans-serif !important;
}

.thai-font {
  font-family: "Noto Thai" !important;
}

.search-component {
  align-items: flex-start;
  background-image: url("../assets/FoodBg.jpg");
  background-position: center;
  background-size: cover;
  display: inline-flex;
  min-height: 100vh;
  min-width: 100%;
}

.inner-div {
  display: inline-block;
  margin: 10px auto;
  padding-top: 10vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  background: #ffb258;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  color: white !important;
  display: flex;
  height: 48px !important;
  min-width: 48px !important;
  outline: none;
  transition: 0.3s;
}

.search-button:hover {
  background: #f57c00;
}

.search-button:visited {
  opacity: 0.5;
}

.search-button:active {
  background: #ef6c00;
}

.search-button-text {
  display: none;
}

.search-box {
  background: rgba(51, 51, 51, 0.15);
  border-radius: 4px;
  mix-blend-mode: normal;
  padding: 18px 14px 5px 16px;
  width: 60vw;
}

.search-headline {
  font-weight: 200;
  margin-left: 15%;
}

.search-and-title {
  margin-top: 3vh;
}

.hidden {
  visibility: hidden;
}

.search-filters {
  min-width: 10vw;
}

/* responsive */
@media only screen and (max-width: 1000px) {
  .search-button {
    display: flex;
    margin-left: 0 !important;
    margin-bottom: 2vw;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .my-layout {
    flex-direction: column;
    padding-right: 0px;
  }

  .my-selector {
    min-width: auto;
  }

  .my-flex {
    flex-grow: 4 !important;
    min-width: 100%;
  }

  .search-headline {
    margin: 0px;
    padding-left: 0;
    text-align: center;
  }

  .search-box {
    background: none;
    border-radius: 4px;
    max-width: 800px;
    min-width: 80vw;
    mix-blend-mode: normal;
    padding: 18px 0px 5px 0px;
  }

  .search-button {
    margin-top: 2vh;
  }

  .my-flex {
    margin-bottom: 0px;
  }

  .search-button-text {
    display: inline-flex;
    font-size: 1.5em;
  }

  .search-icon {
    padding-top: 3px;
  }
}
</style>
