<template>
  <div>
    <div class="suggestion" center-justify>
      <h1 class="suggestion-header thai-font">ตู้กาชาปองยอดนิยม</h1>
      <v-layout row wrap justify-center>
        <div
          v-for="gasha in mockDataList" v-bind:key="gasha.id"
          @click="openCarousel(gasha.gasha_id)"
        >
          <GashaBox :Gasha="gasha"/>
        </div>
      </v-layout>
    </div>

    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-dialog v-model="openPopup" max-width="50vw" height="100%" pt-5>
      <CouponCarousel :Coupons="CouponList" v-on:openlogin="openLoginPopup"/>
    </v-dialog>

    <v-dialog v-model="openLogin" max-width="400px" pt-5>
      <v-card class="login elevation-5">
        <div class="pa-4 vertical-center">
          <v-layout column>
            <v-flex text-xs-center class="mb-3">
              <h1>เข้าสู่ระบบ</h1>
            </v-flex>
            <h3 class="mb-1">ชื่อผู้ใช้</h3>
            <input class="my-input pl-3 mb-3" v-model="user" placeholder="ชื่อผู้ใช้">
            <h3 class="mb-1">รหัสผ่าน</h3>
            <input
              class="my-input pl-3 mb-4"
              v-model="password"
              placeholder="รหัสผ่าน"
              type="password"
            >
            <v-btn
              large
              block
              dark
              color="#FFB258"
              class="my-long-button"
              depressed
              @click="login()"
            >เข้าสู่ระบบ</v-btn>
            <v-flex text-xs-center class="mb-3 mt-2">
              <p style="display:inline-block; margin-right:10px;">ยังไม่เป็นสมาชิก?</p>
              <a class="a-black" style="disply:inline-block;">
                <b @click="gotoRegistration()">สมัครสมาชิก</b>
              </a>
            </v-flex>
          </v-layout>
        </div>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import GashaBox from '@/components/GashaBox.vue';
import CustomerService from '../services/CustomerService';
import CouponCarousel from '@/components/CouponCarousel.vue';

export default {
  name: 'GashaponSuggestion',
  components: {
    GashaBox,
    CouponCarousel,
  },
  async mounted() {
    // get Suggest Gashapon
    const x = await CustomerService.getTop3();
    this.mockDataList = x.data;
  },
  data() {
    return {
      mockDataList: [],
      openPopup: false,
      openLogin: false,
      user: '',
      password: '',
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
      CouponList: [],
    };
  },
  methods: {
    async openCarousel(gashaId) {
      this.$store.dispatch('changeGashaponID', gashaId);
      try {
        const x = await CustomerService.getGashaponCoupon({ gasha_id: gashaId });
        this.CouponList = x.data;
        this.openPopup = true;
      } catch (error) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    openLoginPopup() {
      this.openPopup = false;
      this.openLogin = true;
    },
    gotoRegistration() {
      this.$router.push({ path: 'customer-registration' });
    },
    async login() {
      const params = {
        username: this.user,
        password: this.password,
      };
      try {
        await CustomerService.login(params);
        const y = await this.getUserinfo();
        this.$store.dispatch('changeLoginStatus', true);
        this.$store.dispatch('changeLoginInfo', y);
        this.openLogin = false;
        // TODO Find better way to reload
        // eslint-disable-next-line
        location.reload(); 
      } catch (error) {
        this.sntext = error.response.data;
        this.sncolor = 'error';
        this.snackbar = true;
      }
    },
    async getUserinfo() {
      const x = await CustomerService.getInfo();
      return x.data;
    },
  },
};
</script>

<style scoped>
.suggestion {
  background: white;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}

.suggestion-header {
  padding-top: 56px;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}
</style>
