<template>
    <div>
        <div class="box">
            <img class="gasha-picture" v-bind:src="imgLocation">
            <img class="cookie-icon" v-bind:src="cookiesLocation">
            <div class="texts">
                <div>
                  <h3 class="label bold">โซนร้านอาหาร</h3>
                  <h3 class="label">{{this.Gasha.location}}</h3>
                </div>
                <div>
                  <h3 class="label bold">ประเภทอาหาร</h3>
                  <h3 class="label">{{this.Gasha.type}}</h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'GashaBox',
  props: {
    Gasha: Object,
  },
  computed: {
    imgLocation() {
      if (this.Gasha.type === 'อาหารไทย') {
        // eslint-disable-next-line
        return require('../assets/' + 'thai food.png');
      } if (this.Gasha.type === 'อาหารญี่ปุ่น') {
        // eslint-disable-next-line
        return require('../assets/' + 'japan food.png');
      } if (this.Gasha.type === 'ของหวาน+เครื่องดื่ม') {
        // eslint-disable-next-line
        return require('../assets/' + 'dessert food.png');
      } if (this.Gasha.type === 'ฟาสต์ฟู้ด') {
        // eslint-disable-next-line
        return require('../assets/' + 'fast food.png');
      }
      // eslint-disable-next-line
      return require('../assets/' + 'ramen food.png');
    },
    cookiesLocation() {
      // eslint-disable-next-line
      return require(`../assets/${this.Gasha.price} cookies.png`);
    },
  },
};
</script>

<style scoped>
.gasha-picture {
  height:400px;
  margin-left: auto;
  margin-right: auto;
  width: 219px;
}

.cookie-icon {
  position: absolute;
  height:60px;
  width:83px;
  top:80px;
  left:48px;
}

.box {
  display: inline-block;
  height: 450px;
  margin: 20px;
  position: relative;
  text-align: center;
  width: 360px;
}


.label {
  display: inline;
  font-weight: 100;
  margin: 0 10px;
}

.bold {
  font-weight: 1000;
}

@media only screen and (max-width: 800px) {
  .gasha-picture {
    position: absolute;
    height: auto;
    width: 40%;
    left: 15%;
  }

  .texts {
    float: right;
  }

  .cookie-icon {
    top: 30px;
    left: 0;
  }

  .bold {
    visibility: hidden;
    font-size: 0px;
  }

  .texts {
    font-size: 1em;
    left: 55%;
    position: absolute;
    text-align: left;
    top: 25%;
    white-space: nowrap;

  }

  .box {
    height: 224px;
    margin: 20px;
    width: 326px;
  }
}
</style>
