<template>
  <div class="bottom pt-3 pb-5" center-justify>
    <h1 class="header thai-font">วิธีการใช้งาน</h1>
    <div class="howto-item">
      <img class="howto-icon" src="../assets/wishlist.png">
      <div class="howto-text mt-3">
        <h2>สมัครสมาชิก</h2>
      </div>
    </div>
    <div class="howto-item">
      <img class="howto-icon" src="../assets/wallet.png">
      <div class="howto-text mt-3">
        <h2>เติมเงิน</h2>
      </div>
    </div>
    <div class="howto-item">
      <img class="howto-icon" src="../assets/magnifier.png">
      <div class="howto-text mt-3">
        <h2>ค้นหาตู้กาชาปอง</h2>
      </div>
    </div>
    <div class="howto-item">
      <img class="howto-icon" src="../assets/gift.png">
      <div class="howto-text mt-3">
        <h2>สุ่มคูปองอาหาร</h2>
      </div>
    </div>
    <div class="howto-item">
      <img class="howto-icon" src="../assets/qr.png">
      <div class="howto-text mt-3">
        <h2>นำคูปองไปใช้</h2>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'Howto',
};
</script>

<style scoped>
.bottom {
  background-color: #ffc46e;
  text-align: center;
}

.header {
  margin-top: 56px;
  margin-bottom: 52px;
}

.howto-item {
  display: inline-block;
  height: 222px;
  width: 222px;
}

@media only screen and (max-width: 800px) {
  .howto-item {
    display: inline-block;
    height: 100%;
    width: 125px;
    margin: 20px;
  }

  .howto-icon {
    height: 100px;
    width: 100px;
  }

  .howto-text {
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
  }
}
</style>
