<template>
  <div>
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-toolbar fixed height="56px" :key="this.componentKey">
      <v-toolbar-items>
        <v-btn flat class="subheading clickable thai-font" to="home">หน้าแรก</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="userType === ''" class="hidden-sm-and-down">
        <v-btn flat class="subheading thai-font clickable" to="shop">สำหรับร้านค้า</v-btn>
        <v-btn flat class="subheading" v-on:login="openLogin()" @click="openLogin()">
            ลงชื่อเข้าใช้
        </v-btn>
        <v-btn flat class="subheading thai-font clickable" to="customer-registration">
          สมัครสมาชิก
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-items v-else-if="userType === 'Customer'" class="hidden-sm-and-down">
        <v-btn flat class="subheading">
          <img src="../assets/cookie.png">
          <div class="pl-1 ml-1 user-cookie" @click="gotoCustomerPayment()">
            {{this.userCookie}}
          </div>
        </v-btn>
        <v-btn flat class="subheading" @click="gotoMyCoupon()">คูปองของฉัน</v-btn>
        <v-btn flat class="nav-text english-font" @click="gotoCustomerPayment()">
          {{this.userName}}
        </v-btn>
        <v-btn flat class="subheading clickable nav-text english-font" @click="logout()">
          Logout
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-items class="hidden-md-and-up">
        <v-menu transition="slide-y-transition" offset-y nudge-left="50">
          <v-btn slot="activator" flat>
            <v-icon>menu</v-icon>
          </v-btn>
          <v-list v-if="userType === ''">
            <v-list-tile>
              <v-list-tile-title class="clickable" @click="gotoHomeShop()">
                สำหรับร้านค้า
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable" @click="dialog = true">
                ลงชื่อเข้าใช้
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable" @click="gotoRegistration()">
                สมัครสมาชิก
              </v-list-tile-title>
            </v-list-tile>
          </v-list>

          <v-list v-if="userType === 'Customer'">
            <v-list-tile>
              <v-list-tile-title class="clickable english-font" @click="gotoCustomerPayment()">
                <div>
                  {{this.userCookie}}
                </div>
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable thai-font" @click="gotoMyCoupon()">
                คูปองของฉัน
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable english-font" @click="gotoCustomerPayment()">
                {{this.userName}}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable english-font" @click="logout()">
                Logout
              </v-list-tile-title>
            </v-list-tile>
          </v-list>

        </v-menu>
      </v-toolbar-items>
    </v-toolbar>

    <transition name="nothing">
      <div v-if="dialog" class="fullscreen-container" v-on:click="closeModal">
        <div v-if="dialog" class="popup elevation-2" v-on:click="negateModal">
          <div style="display: flex; justify-content: flex-end">
            <v-icon class="x-icon" @click="closeModal">clear</v-icon>
          </div>
          <div class="pa-4">
            <v-layout column>
              <v-flex text-xs-center class="mb-3">
                <h1>เข้าสู่ระบบ</h1>
              </v-flex>
              <h3 class="mb-1">ชื่อผู้ใช้</h3>
              <input class="my-input pl-3 mb-3" v-model="user" placeholder="ชื่อผู้ใช้">
              <h3 class="mb-1">รหัสผ่าน</h3>
              <input
                class="my-input pl-3 mb-4"
                v-model="password"
                placeholder="รหัสผ่าน"
                type="password"
              >
              <v-btn
                large
                block
                dark
                color="#FFB258"
                @click="login()"
                class="my-long-button"
                depressed
              >เข้าสู่ระบบ</v-btn>
              <v-flex text-xs-center class="mb-3 mt-2">
                <p style="display:inline-block; margin-right:10px;">ยังไม่เป็นสมาชิก?</p>
                <a style="disply:inline-block;color:black;" @click="gotoRegistration()">
                  <b>สมัครสมาชิก</b>
                </a>
              </v-flex>
            </v-layout>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import CustomerService from '../services/CustomerService';

export default {
  name: 'Navbar',
  data() {
    return {
      dialog: false,
      drawer: null,
      user: '',
      password: '',
      userType: '',
      userCredit: '0',
      componentKey: 0,
      userName: '',
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
    };
  },
  async mounted() {
    const y = await this.getUserinfo();
    if (y.cus_id) {
      this.userType = 'Customer';
      this.userName = y.username;
      this.$store.dispatch('changeLoginStatus', true);
      this.$store.dispatch('changeLoginInfo', y);
      this.userCredit = y.values;
    }
  },
  computed: {
    userCookie() {
      if (this.userCredit) {
        return `${this.userCredit} cookies`;
      } return '0 cookies';
    },
  },
  methods: {
    async login() {
      const params = {
        username: this.user,
        password: this.password,
      };
      try {
        await CustomerService.login(params);
        const y = await this.getUserinfo();
        this.userType = 'Customer';
        this.userName = y.username;
        this.userCredit = y.values;
        this.$store.dispatch('changeLoginStatus', true);
        this.$store.dispatch('changeLoginInfo', y);
        this.componentKey += 1;
        this.dialog = false;
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async logout() {
      CustomerService.logout();
      this.userType = '';
      this.userName = '';
      this.userCredit = 0;
      this.$store.dispatch('changeLoginStatus', false);
      this.$store.dispatch('changeLoginInfo', {});
      this.componentKey += 1;
      this.$router.push({ name: 'home' });
    },
    async getUserinfo() {
      const x = await CustomerService.getInfo();
      return x.data;
    },
    gotoHomeShop() {
      this.$router.push({ path: 'shop' });
    },
    gotoRegistration() {
      this.$router.push({ path: 'customer-registration' });
    },
    closeModal() {
      this.dialog = false;
    },
    negateModal(event) {
      event.stopPropagation();
    },
    openLogin() {
      this.dialog = true;
    },
    gotoMyCoupon() {
      this.$router.push({ path: 'customer-coupon' });
    },
    gotoShopHome() {
      this.$router.push({ path: 'shop' });
    },
    gotoCustomerPayment() {
      this.$router.push({ path: 'customer-payment' });
    },
  },
};
</script>

<style scoped>
.my-long-button {
  min-height: 5vh;
}

a:link,
a:visited {
  color: black;
  cursor: auto;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:link:active,
a:visited:active {
  color: black;
}

.clickable:hover {
  cursor: pointer;
}

.nav-text {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: none !important;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.popup {
  background: white;
  border-radius: 5px;
  bottom: 20vh;
  left: 35vw;
  padding: 20px;
  position: fixed;
  right: 35vw;
  top: 20vh;
  width: 30vw;
  z-index: 201;
}

.fullscreen-container {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.x-icon {
  margin-left: auto;
  margin-right: 0;
}

.user-cookie {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .popup {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: scroll;
    padding: none;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

/*animation*/

.nothing-enter-active {
  animation: nothing 0.5s;
}

.nothing-leave-active {
  animation: nothing 0.5s reverse;
}
@keyframes nothing {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
