<template>
  <div>
    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-toolbar fixed height="56px" :key="this.componentKey">
      <v-toolbar-items>
        <v-btn flat class="subheading clickable thai-font"
          @click="gotoFirstPage"
        >
          หน้าแรก
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="userType === ''" class="hidden-sm-and-down">
        <v-btn flat class="subheading thai-font clickable" to="home">สำหรับลูกค้า</v-btn>
        <v-btn flat class="subheading thai-font clickable"
          to="shop-registration"
        >
          สมัครสมาชิก
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-items v-else-if="userType === 'Shop'" class="hidden-sm-and-down">
        <v-btn flat class="nav-text english-font" @click="gotoShopProfile()">
          {{this.userName}}
        </v-btn>
        <v-btn flat class="clickable nav-text english-font" @click="logout()">
          Logout
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-items class="hidden-md-and-up">
        <v-menu transition="slide-y-transition" offset-y nudge-left="50">
          <v-btn slot="activator" flat>
            <v-icon>menu</v-icon>
          </v-btn>
          <v-list v-if="userType === ''">
            <v-list-tile>
              <v-list-tile-title class="clickable" @click="gotoHome()">
                สำหรับลูกค้า
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable" @click="gotoRegistration()">
                สมัครสมาชิก
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
          <v-list v-if="userType === 'Shop'">
            <v-list-tile>
              <v-list-tile-title @click="gotoShopProfile()" class="clickable english-font">
                {{this.userName}}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title class="clickable english-font" @click="logout()">
                Logout
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ShopService from '../services/ShopService';

export default {
  name: 'ShopNavbar',
  data() {
    return {
      dialog: false,
      userType: '',
      componentKey: 0,
      userName: '',
      snackbar: false,
      sncolor: '',
      snmode: '',
      sntimeout: 5000,
      sntext: '',
    };
  },
  computed: mapState(['loginInfo', 'loginStatus']),
  watch: {
    loginInfo(newValue) {
      if (newValue.shop_id) {
        this.userType = 'Shop';
        this.userName = newValue.username;
      }
    },
  },
  async mounted() {
    if (this.$store.getters.getLoginStatus === true) {
      const x = this.$store.getters.getLoginInfo;
      if (x.shop_id) {
        this.userType = 'Shop';
        this.userName = x.username;
      }
    } else {
      const y = await this.getUserinfo();
      if (y.shop_id) {
        this.userType = 'Shop';
        this.userName = y.username;
        this.$store.dispatch('changeLoginStatus', true);
        this.$store.dispatch('changeLoginInfo', y);
      }
    }
  },
  methods: {
    async logout() {
      ShopService.logout();
      this.userType = '';
      this.userName = '';
      this.$store.dispatch('changeLoginStatus', false);
      this.$store.dispatch('changeLoginInfo', {});
      this.componentKey += 1;
      this.$router.push({ path: '/shop' });
    },
    async getUserinfo() {
      const x = await ShopService.getUserInfo();
      return x.data;
    },
    gotoHome() {
      this.$router.push({ path: '/' });
    },
    gotoRegistration() {
      this.$router.push({ path: 'shop-registration' });
    },
    gotoShopProfile() {
      this.$router.push({ path: 'shop-profile' });
    },
    gotoFirstPage() {
      if (this.userType === 'Shop') {
        this.$router.replace({ name: 'shop-coupon' });
      } else {
        this.$router.replace({ name: 'shop' });
      }
    },
  },
};
</script>

<style scoped>
.my-long-button {
  min-height: 5vh;
}

a:link,
a:visited {
  color: black;
  cursor: auto;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:link:active,
a:visited:active {
  color: black;
}

.clickable:hover {
  cursor: pointer;
}

.nav-text {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 400;
  text-transform: none !important;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.popup {
  background: white;
  border-radius: 5px;
  bottom: 20vh;
  height: 60vh;
  left: 35vw;
  padding: 20px;
  position: fixed;
  right: 35vw;
  top: 20vh;
  width: 30vw;
  z-index: 201;
}

.fullscreen-container {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.x-icon {
  margin-left: auto;
  margin-right: 0;
}

.user-cookie {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .popup {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: scroll;
    padding: none;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

/*animation*/

.nothing-enter-active {
  animation: nothing 0.5s;
}

.nothing-leave-active {
  animation: nothing 0.5s reverse;
}
@keyframes nothing {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
