<template>
  <v-app class="grey-bg">
    <v-dialog scrollable v-model="dialog" width="600px">
      <v-card height="100%">
        <div class="text-xs-center pt-3">
          <h3>ข้อเสนอกำหนดการขาย</h3>
        </div>
      <v-card-text class="px-5 text-xs-center">

        1. ท่านสามารถแก้ไขและยกเลิกการเสนอขายคูปองได้ภายใต้เงื่อนไขที่ระบบกําหนดดังนี้ <br>
          <br>
          &emsp;1.1.  หากคูปองยังไม่ได้รับการอนุมัติจากผู้ดูแลระบบ
          ท่านจะสามารถยกเลิก และ/หรือ
          แก้ไข ข้อเสนอขายคูปองได้ตลอดเวลา <br>
          &emsp;1.2.  หากคูปองได้รับการอนุมัติจากผู้ดูแลระบบแล้ว
          ท่านจะสามารถยกเลิกการเสนอขายคูปองได้ในเวลาที่ระบบกําหนดเท่านั้น <br>
          <br>
        2. ท่านสามารถสแกน QR code บนคูปอง
          ของลูกค้าเพื่อส่งข้อมูลให้ระบบว่าคูปองนั้นถูกใช้แล้ว <br>
          <br>
        3. ท่านสามารถเรียกดูสถานะของรายการที่เคยเสนอขาย
          และยอดขายของท่านได้ <br>

      </v-card-text>
        <div class="text-xs-center py-2">
          <v-btn color="#7455F4" @click="newCoupon" dark large>
            รับทราบข้อกำหนดทั้งหมด
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog2" width="600">
      <v-card height="100%" style="padding-top:30px;">
        <div v-if="state.status === 'waiting'"
          class="card-headline thai-font"
          primary-title
        >
        การยกเลิกจะมีผลทันที<br>
        กรุณากดยืนยันเพื่อยกเลิกคูปองนี้
        </div>
        <div
          class="card-headline thai-font"
          primary-title v-else
        >
        การยกเลิกจะมีผลทุกเที่ยงคืนของวันศุกร์<br>
        คูปองที่สุ่มไปแล้ว ลูกค้ายังสามารถนำไปใช้งานได้ตามปกติ<br>
        กรุณากดยืนยันเพื่อยกเลิกคูปองนี้
        </div>

        <div class="card-btns">
          <v-btn color="#ADABA8" @click="dialog2 = false" dark large>ยกเลิก</v-btn>
          <v-btn color="#7455F4" @click="cancelCoupon()" dark large>ยืนยัน</v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <v-container class="my-container">
      <div class="whitebox">

        <v-layout class="top-head1" row justify-space-between>

          <v-flex xs2/>

          <h1 class="heading">
            ฟอร์มเสนอขายคูปอง
            <StatusButton v-bind:state="state.status" class="d-inline" v-if="this.state.status"/>
          </h1>
          <v-btn flat outline class="mr-5" large
            style="margin-top:48px;" id="cancel-btn"
            @click="dialog2 = true"
          >
            <v-icon>delete</v-icon>ยกเลิก
          </v-btn>

        </v-layout>

        <v-flex class="text-xs-center top-head2">
          <h1 class="heading">
            ฟอร์มเสนอขายคูปอง
            <StatusButton v-bind:state="state.status" class="d-inline" v-if="this.state.status"/>
          </h1>
        </v-flex>

        <v-flex class="text-xs-center cancel-btn2-div">
        <v-btn flat outline class="ml-2" large
            style="margin-top:48px;" id="cancel-btn2"
            @click="dialog2 = true"
          >
            <v-icon>delete</v-icon>ยกเลิก
        </v-btn>
        </v-flex>

        <div>
          <div class="input-grid">
            <p id="r-1-c-1">รูปอาหาร *</p>
            <div id="r-1-c-2">
              <v-text-field
                placeholder="picture URL"
                v-model="state.food_image"
                id="food_image"
                :disabled="disableForm"
              />
            </div>

            <p id="r-2-c-1">ชื่ออาหาร *</p>
            <div id="r-2-c-2">
              <v-text-field
                placeholder="ชื่ออาหาร"
                id="food_name"
                v-model="state.food_name"
                :disabled="disableForm"
              />
            </div>
            <p id="r-3-c-1">ประเภทอาหาร *</p>
            <div id="r-3-c-2">
              <v-select
                v-model="state.food_type"
                :items="foodType"
                label="ประเภทอาหาร"
                :disabled="disableForm"
                chips
              />
            </div>

            <p id="r-4-c-1">ราคาจริง *</p>
            <div id="r-4-c-2" class="d-inline">
              <v-text-field
                class="d-inline"
                placeholder="ราคาจริง"
                v-model="state.actual_price"
                id="actual_price"
                :disabled="disableForm"
              />
            </div>

            <p id="r-4-c-3" class="d-inline">ราคาเสนอขาย *</p>
            <div id="r-4-c-4">
              <v-text-field
                class="d-inline"
                placeholder="ราคาเสนอขาย"
                v-model="state.offer_price"
                id="offered_price"
                :disabled="disableForm"
              />
            </div>

            <p id="r-5-c-1">จำนวณคูปอง *</p>
            <div id="r-5-c-2">
              <v-text-field
                class="d-inline"
                placeholder="จำนวณคูปอง"
                v-model="state.total_amount"
                id="total_amount"
                :disabled="disableForm"
              />
            </div>

            <p id="r-5-c-3" class="d-inline">วันหมดอายุ *</p>
            <div id="r-5-c-4">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="date"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="state.expiration"
                    label="วัน/เดือน/ปี"
                    append-icon="event"
                    v-on="on"
                    :disabled="disableForm"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="state.expiration" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(state.expiration)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </div>

            <p id="r-6-c-1">สาขาที่ใช้คูปองได้ *</p>
            <div id="r-6-c-2">
              <v-select
                v-model="state.location"
                :items="location"
                label="โซนร้านอาหาร"
                multiple
                chips
                id="location"
                :disabled="disableForm"
              />
            </div>

            <v-layout id="r-7-c-e">
              <v-btn
                id="btn1"
                dark
                large
                color="#989898"
                class="submit-btn mr-3"
                @click="closeForm"
              >ยกเลิก</v-btn>
              <v-btn
                dark
                large
                id="btn2"
                color="#7455F4"
                class="ml-0 submit-btn"
                style=""
                @click="processInput"
              >{{submitBtnText}}</v-btn>
            </v-layout>
          </div>
        </div>
      </div>
    </v-container>
  </v-app>
</template>

<script>
import StatusButton from '@/components/StatusButton.vue';
import ShopService from '@/services/ShopService';

export default {
  name: 'ShopForm',
  components: {
    StatusButton,
  },
  props: {
    state: {
      total_amount: String,
      food_name: String,
      food_image: String,
      food_type: String,
      actual_price: Number,
      offer_price: Number,
      expiration: String,
      location: Array,
    },
  },
  async mounted() {
    const x = await ShopService.getShopBank();
    this.location = x.data;
  },
  data() {
    return {
      e6: [],
      e7: [],
      menu: '',
      location: ['สยาม', 'จามจุรีสแควร์', 'สวนหลวง', 'สามย่าน'],
      foodType: [
        'อาหารไทย',
        'ฟาสต์ฟู้ด',
        'อาหารญี่ปุ่น',
        'ของหวาน+เครื่องดื่ม',
        'อาหารจานเดี่ยว',
      ],
      date: '',
      dialog: false,
      dialog2: false,
      snackbar: false,
      sncolor: '',
      sntimeout: 5000,
      sntext: '',
    };
  },
  watch: {
    state() {
      if (this.state.expiration) {
        // eslint-disable-next-line
        this.state.expiration = this.state.expiration.split('T')[0];
      }
      if (!this.state.status) {
        const b1 = document.getElementById('btn1');
        b1.classList.remove('invisible');
        const cb = document.getElementById('cancel-btn');
        cb.classList.add('invisible-really');
        const cb2 = document.getElementById('cancel-btn2');
        cb2.classList.add('invisible-really');
        const cb2d = document.getElementById('cancel-btn2-div');
        cb2d.classList.add('invisible');
      } else if (this.state.status === 'confirm') {
        const b1 = document.getElementById('btn1');
        b1.classList.add('invisible');
        const cb = document.getElementById('cancel-btn');
        cb.classList.remove('invisible-really');
        const cb2 = document.getElementById('cancel-btn2');
        cb2.classList.remove('invisible-really');
        const cb2d = document.getElementById('cancel-btn2-div');
        cb2d.classList.remove('invisible');
      } else if (this.state.status === 'waiting') {
        const b1 = document.getElementById('btn1');
        b1.classList.remove('invisible');
        const cb = document.getElementById('cancel-btn');
        cb.classList.remove('invisible-really');
        const cb2 = document.getElementById('cancel-btn2');
        cb2.classList.remove('invisible-really');
        const cb2d = document.getElementById('cancel-btn2-div');
        cb2d.classList.remove('invisible');
      } else {
        const b1 = document.getElementById('btn1');
        b1.classList.add('invisible');
        const cb = document.getElementById('cancel-btn');
        cb.classList.add('invisible-really');
        const cb2 = document.getElementById('cancel-btn2');
        cb2.classList.add('invisible-really');
        const cb2d = document.getElementById('cancel-btn2-div');
        cb2d.classList.add('invisible');
      }
    },
  },
  computed: {
    submitBtnText() {
      if (!this.state.status) {
        return 'เสนอขายคูปองใหม่';
      } if (this.state.status === 'waiting') {
        return 'ยืนยัน';
      }
      return 'ตกลง';
    },
    foodTypeArr() {
      return [this.state.food_type];
    },
    disableForm() {
      if (!this.state.status || this.state.status === 'waiting') {
        return false;
      }
      return true;
    },
    sendData() {
      if (this.state.total_amount
          && this.state.food_name
          && this.state.food_type
          && this.state.actual_price
          && this.state.offer_price
          && this.state.total_amount
          && this.state.expiration
          && this.state.location
          && this.state.food_image
      ) {
        return true;
      }
      return false;
    },
  },
  methods: {
    closeForm() {
      this.$emit('close-form');
    },
    processInput() {
      if (!this.state.status) {
        if (this.sendData) {
          this.dialog = true;
        } else {
          this.snackbar = true;
          this.sncolor = 'error';
          this.sntext = 'โปรดกรอกข้อมูลให้ครบถ้วน';
        }
      } else if (this.state.status === 'waiting') {
        if (this.sendData) {
          this.editCoupon();
        } else {
          this.snackbar = true;
          this.sncolor = 'error';
          this.sntext = 'โปรดกรอกข้อมูลให้ครบถ้วน';
        }
      } else {
        this.closeForm();
      }
    },
    async cancelCoupon() {
      const obj = {
        req_id: this.state.req_id,
      };
      try {
        await ShopService.cancelCoupon(obj);
        this.dialog2 = false;
        this.closeForm();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async newCoupon() {
      const obj = {
        amount: this.state.total_amount,
        food_name: this.state.food_name,
        food_image: this.state.food_image,
        food_type: this.state.food_type,
        actual_price: this.state.actual_price.toString(),
        offer_price: this.state.offer_price.toString(),
        expiration: this.state.expiration,
        shop_location: this.state.location,
      };
      try {
        await ShopService.submitNewCoupon(obj);
        this.dialog = false;
        this.closeForm();
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
    async editCoupon() {
      const obj = {
        amount: this.state.total_amount,
        food_name: this.state.food_name,
        food_image: this.state.food_image,
        food_type: this.state.food_type,
        actual_price: this.state.actual_price.toString(),
        offer_price: this.state.offer_price.toString(),
        expiration: this.state.expiration,
        req_id: this.state.req_id,
        shop_location: this.state.location,
      };
      try {
        await ShopService.editCoupon(obj);
        this.closeForm();
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
};
</script>

<style scoped>
.grey-bg {
  background: #d4d4d4 !important;
  align-content: center;
  height: 100%;
}

.top-head2 {
  display: none;
}

.heading {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
}

.input-grid {
  display: grid;
  grid-template-columns: 15% 20% 15% auto;
  /*137px 258px 100px auto;*/
  grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh;
  grid-row-gap: 28px;
  grid-column-gap: 28px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.invisible {
  display: none !important;
}

.invisible-really {
  visibility: hidden;
}

.my-input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-btn {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: 10%;
}

#cancel-btn2 {
  display: none;
}

#r-1-c-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

#r-1-c-2 {
  grid-row-start: 1;
  grid-column: 2/3;
}

#r-2-c-1 {
  grid-row-start: 2;
  grid-column-start: 1;
}

#r-2-c-2 {
  grid-row-start: 2;
  grid-column: 2/4;
}

#r-3-c-1 {
  grid-row-start: 3;
  grid-column-start: 1;
}

#r-3-c-2 {
  grid-row-start: 3;
  grid-column-start: 2;
}

#r-4-c-1 {
  grid-row-start: 4;
  grid-column-start: 1;
}

#r-4-c-2 {
  grid-row-start: 4;
  grid-column-start: 2;
}

#r-4-c-3 {
  grid-row-start: 4;
  grid-column-start: 3;
}

#r-4-c-4 {
  grid-row-start: 4;
  grid-column-start: 4;
}

#r-5-c-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

#r-5-c-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

#r-5-c-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

#r-5-c-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

#r-6-c-1 {
  grid-row-start: 6;
  grid-column-start: 1;
}

#r-6-c-2 {
  grid-row-start: 6;
  grid-column: 2/4;
}

#r-7-c-e {
  grid-row-start: 7;
  grid-column-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-headline {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
}

.card-btns {
  text-align: center;
  padding: 24px;
  padding-top: 0px;
}

@media only screen and (max-width: 800px) {
  .input-grid {
    grid-template-columns: 25% 60%;
    /*137px 258px 100px auto;*/
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh;
    grid-row-gap: 28px;
    grid-column-gap: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
  }

  p {
    padding-top:10px;
  }


  #r-4-c-2 {
    grid-row-start: 4;
    grid-column-start: 2;
  }

  #r-4-c-3 {
    grid-row-start: 5;
    grid-column-start: 1;
  }

  #r-4-c-4 {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  #r-5-c-1 {
    grid-row-start: 6;
    grid-column-start: 1;
  }

  #r-5-c-2 {
    grid-row-start: 6;
    grid-column-start: 2;
  }

  #r-5-c-3 {
    grid-row-start: 7;
    grid-column-start: 1;
  }

  #r-5-c-4 {
    grid-row-start: 7;
    grid-column-start: 2;
  }

  #r-6-c-1 {
    grid-row-start: 8;
    grid-column-start: 1;
  }

  #r-6-c-2 {
    grid-row-start: 8;
    grid-column: 2/4;
  }

  #r-7-c-e {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #cancel-btn {
    visibility: hidden;
  }

  #cancel-btn2 {
    display: inline;
  }

  .submit-btn {
    margin-right: 0px;
  }

  .top-head1 {
    display: none;
  }

  .top-head2 {
    display:block;
  }

  #r-7-c-e {
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .invisible-really {
    display: none !important;
  }

  .heading {
    flex-direction: column !important;
  }
}
</style>
