<template>
  <v-app class="grid-bg">

    <v-snackbar
      v-model="snackbar"
      :color="this.sncolor"
      :timeout="this.sntimeout"
      right
      top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>

    <div class="grid-page" v-show="!showForm">
      <div class="sales whitebox">
        <h4 class="pl-3 pt-4">ยอดประจำเดือนเมษายน</h4>
        <h1 style="text-align: center;" class="mt-2">
          {{this.userMoney}} บาท
        </h1>
      </div>

      <div class="heading heading-div">
        <h1 class="ml-3 heading-text">สถานะคูปอง</h1>
        <v-spacer></v-spacer>
        <v-btn class="new-coupon-btn" color="#7455F4" dark @click="createCoupon()">
          เสนอขายคูปองใหม่
        </v-btn>
      </div>

      <div class="terms whitebox pt-4">
        <h4 class="pl-3 mb-3">ข้อกำหนดการเสนอขาย</h4>
        <div class="terms-text px-4 text-xs">
          <p>
            1. ท่านสามารถเสนอการขายอาหารได้ โดยต้องกรอกข้อมูลดังต่อไปนี้: <br>
              &emsp;รูปอาหาร, ชื่ออาหาร, ประเภทอาหาร, ราคา, จำนวณคูปอง,
              วันหมดอายุ, สาขาที่ใช้คูปองได้, โซนร้านอาหาร <br>
            <br>
            2. ท่านสามารถแก้ไขและยกเลิกการเสนอขายคูปองได้ภายใต้เงื่อนไขที่ระบบกําหนดดังนี้ <br>
              &emsp;2.1.  หากคูปองยังไม่ได้รับการอนุมัติจากผู้ดูแลระบบ
              ท่านจะสามารถยกเลิก และ/หรือ
              แก้ไข ข้อเสนอขายคูปองได้ตลอดเวลา <br>
              &emsp;2.2.  หากคูปองได้รับการอนุมัติจากผู้ดูแลระบบแล้ว
              ท่านจะสามารถยกเลิกการเสนอขายคูปองได้ในเวลาที่ระบบกําหนดเท่านั้น <br>
            <br>
            3. ท่านสามารถสแกน QR code บนคูปอง
            ของลูกค้าเพื่อส่งข้อมูลให้ระบบว่าคูปองนั้นถูกใช้แล้ว <br>
            <br>
            4. ท่านสามารถเรียกดูสถานะของรายการที่เคยเสนอขาย
            และยอดขายของท่านได้ <br>
          </p>
        </div>
      </div>

      <div class="coupons mt-2">
        <ShopCouponTable
          :coupons="this.coupons"
          v-on:showForm="openForm"
        />
      </div>
    </div>

    <ShopForm v-show="showForm" v-bind:state="this.formState" v-on:close-form="closeForm"/>
  </v-app>
</template>

<script>
import ShopCouponTable from '@/components/ShopCouponTable.vue';
import ShopService from '../services/ShopService';
import ShopForm from '@/components/ShopForm.vue';

export default {
  name: 'ShopCoupon',
  components: {
    ShopCouponTable,
    ShopForm,
  },
  data: () => ({
    coupons: [],
    showForm: false,
    formState: {},
    userMoney: 0,
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  async mounted() {
    try {
      const x = await ShopService.getAllCouponRequest();
      const y = await ShopService.getUserMoney();
      this.userMoney = y.data.values;
      this.coupons = x.data;
    } catch (e) {
      this.snackbar = true;
      this.sncolor = 'error';
      if (e.response) {
        this.sntext = e.response.data;
      } else if (e.request) {
        this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
      }
    }
  },
  methods: {
    createCoupon() {
      this.showForm = true;
      this.formState = {};
    },
    openForm(couponInfo) {
      this.formState = couponInfo;
      this.showForm = true;
    },
    async closeForm() {
      try {
        const x = await ShopService.getAllCouponRequest();
        this.coupons = x.data;
        this.showForm = false;
        this.formState = {};
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
};
</script>

<style scoped>
.coupons {
  grid-row: 2/5;
  grid-column: 2/3;
}

.grid-bg {
  background: #d4d4d4 !important;
  align-content: center;
  margin-top: 56px;
}

.grid-page {
  display: grid;
  grid-template-columns: 20vw 57vw;
  grid-template-rows: 50px 49px auto auto;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  grid-row: 1/2;
  grid-column: 2/3;
}

.heading-text {
  font-size: 36px;
}

.new-coupon-btn {
  width: 196px;
  height: 50px;
  font-size: 1.3em;
}

.sales {
  grid-row: 1/3;
  grid-column: 1/2;
}

.terms {
  text-align: left;
  grid-row: 3/4;
  grid-column: 1/2;
}

.terms-text {
  height: 280px;
  text-align: justify;
  overflow-y: scroll;
  overflow-x: visible;
}

.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
}

.heading-div {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

@media only screen and (max-width: 800px) {
  .grid-page {
  display: grid;
  grid-template-columns: 77vw;
  grid-template-rows: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  grid-row: 1/2;
  grid-column: 1/2;
}

.heading-div {
  flex-direction: column;
  align-items: center;
}

.sales {
  display:none;
}

.terms {
  display:none;
}

.coupons {
  grid-row: 2/5;
  grid-column: 1/2;
}

}
</style>
