<template>
  <div style="background: white;">
    <div>
      <v-data-table :headers="headers" :items="coupons" class="elevation-1 my-table">
        <template slot="headerCell" slot-scope="props">
          <h3 class="py-2" style="color: #333333; font-size:1.3em;">{{ props.header.text }}</h3>
        </template>
        <template v-slot:items="props">
          <td class="text-xs-center">
            <img
              v-bind:src="props.item.food_image"
              class="mt-2 data-text english-font"
              style="height:80px;width:120px;border-radius:5px;"
            >
          </td>
          <td class="text-xs-center data-text english-font">{{ props.item.food_name }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.total_amount }}</td>
          <td class="text-xs-center data-text english-font">
            <StatusButton :state="props.item.status"/>
          </td>
          <td class="text-xs-center data-text english-font">{{ props.item.sold_out_amount }}</td>
          <td class="text-xs-center data-text english-font">{{ props.item.used_amount }}</td>
          <td class="text-xs-center px-0 data-text english-font">
            <v-icon
              v-if="props.item.status === 'waiting'"
              color="black"
              @click="openForm(props.item)"
            >edit</v-icon>
            <v-icon v-else color="black" @click="openForm(props.item)">remove_red_eye</v-icon>
          </td>
        </template>
        <template v-slot:no-data>
          <div class="text-xs-center">
            <h4 text-xs-center>ยังไม่มีการเสนอขายคูปอง</h4>
          </div>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import StatusButton from '@/components/StatusButton.vue';

export default {
  name: 'StoreCouponTable',
  components: {
    StatusButton,
  },
  props: {
    coupons: Array,
    showForm: Boolean,
  },
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'คูปองอาหาร',
        align: 'center',
        sortable: false,
        value: 'picture',
      },
      {
        text: 'ชื่ออาหาร',
        value: 'name',
        align: 'center',
        sortable: false,
      },
      {
        text: 'จำนวน',
        value: 'amount',
        align: 'center',
        sortable: false,
      },
      {
        text: 'สถานะ',
        value: 'status',
        align: 'center',
        sortable: false,
      },
      {
        text: 'จำนวนถูกสุ่ม',
        value: 'draw',
        align: 'center',
        sortable: false,
      },
      {
        text: 'จำนวนใช้งาน',
        value: 'used',
        align: 'center',
        sortable: false,
      },
      { text: '', value: '', sortable: false },
    ],
  }),

  methods: {
    openForm(obj) {
      this.$emit('showForm', obj);
    },
  },
};
</script>

<style scoped>
.data-text {
  font-size: 1em;
}

.heading-text {
  font-size: 36px;
}

.new-coupon-btn {
  width: 196px;
  height: 50px;
  font-size: 1.3em;
}
</style>
