<template>
  <div class="payment-container">

    <v-snackbar v-model="snackbar"
      :color="this.sncolor" :timeout="this.sntimeout"
      right top
      class="thai-font"
    >
      {{sntext}}
      <v-btn flat @click="snackbar = false" class="thai-font">ปิด</v-btn>
    </v-snackbar>
    <div class="whitebox py-4 px-5 mb-3"
      style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
    >
      <h1 class="my-header english-font mb-2">{{this.$store.getters.getLoginInfo.shop_name}}</h1>
      <div style="display: flex; flex-direction: row; align-items: flex-end;">
        <img src="../assets/coin.png" style="height: 2em; margin-right: 5px;">
        <h1 class="english-font my-subhead2" style="margin-left: 5px;">
          {{this.$store.getters.getLoginInfo.values}}
        </h1>
        <h3 class="thai-font" style="margin-left: 10px;">บาท</h3>
      </div>
    </div>
    <div class="whitebox py-4 px-5" v-show="viewProfile">
      <v-layout column>
        <v-layout class="mb-4 profile-header-div">
          <h1 class="pa-1 my-header">ข้อมูลโปรไฟล์</h1>
          <v-btn dark large color="#7455F4" style="width:160px;" @click="switchToEditProfile()">
            <v-icon>edit</v-icon>แก้ไขโปรไฟล์
          </v-btn>
        </v-layout>

        <p class="my-subhead">ข้อมูลบัญชี</p>

        <div class="info-grid mb-4">
          <p class="thai-font mb-4">ชื่อ-นามสกุล</p>
          <p class="english-font mb-4">
            {{this.$store.getters.getLoginInfo.fname}} {{this.$store.getters.getLoginInfo.lname}}
          </p>
          <p class="thai-font mb-4">ชื่อผู้ใช้</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.username}}</p>
          <p class="thai-font mb-4">อีเมล</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.email}}</p>
          <p class="thai-font mb-4">เบอร์ติดต่อ</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.telephone}}</p>
        </div>

        <p class="my-subhead mb-4">ข้อมูลร้านอาหาร</p>

        <div class="info-grid">
          <p class="thai-font mb-4">ชื่อร้านอาหาร</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.shop_name}}</p>
          <p class="thai-font mb-4">ชื่อธนาคาร</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.bank_name}}</p>
          <p class="thai-font mb-4">ชื่อบัญชีธนาคาร</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.account_name}}</p>
          <p class="thai-font mb-4">เลขบัญชีธนาคาร</p>
          <p class="english-font mb-4">{{this.$store.getters.getLoginInfo.bank_account}}</p>
        </div>
      </v-layout>
    </div>

    <div class="whitebox py-4 px-5" v-show="editProfile">
      <v-layout column>
        <v-layout row class="mb-4">
          <h1 class="pa-1 my-header">แก้ไขโปรไฟล์</h1>
        </v-layout>

        <p class="my-subhead2">ข้อมูลบัญชี</p>

        <v-layout column class="edit-info-input mb-3">
          <v-layout column>
            <v-layout align-baseline class="field-and-label">
              <p class="special-p">ชื่อ</p>
              <input class="my-input" placeholder="firstname" v-model="loginInfo.fname">
            </v-layout>
            <v-layout align-baseline class="field-and-label">
              <p class="special-p">นามสกุล</p>
              <input class="my-input" placeholder="lastname" v-model="loginInfo.lname">
            </v-layout>
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">ชื่อผู้ใช้</p>
            <input class="my-input" style="width:50%;color:grey;"
              disabled v-model="loginInfo.username"
            >
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">อีเมล</p>
            <input class="my-input" style="width:50%;color:grey;"
              disabled v-model="loginInfo.email"
            >
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">เบอร์ติดต่อ</p>
            <input class="my-input" style="width:40%;" v-model="loginInfo.telephone">
          </v-layout>
        </v-layout>

        <p class="my-subhead2">ข้อมูลร้านอาหาร</p>

        <v-layout column class="edit-info-input">
          <v-layout align-baseline class="field-and-label">
            <p class="special-p">ชื่อร้านอาหาร</p>
            <input class="my-input" style="width:40%;" v-model="loginInfo.shop_name">
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">ชื่อธนาคาร</p>
            <div style="my-selector-div">
              <v-select
                v-model="loginInfo.bank_name"
                :items="bank_name_array"
                :menu-props="{ maxHeight: '400' }"
                solo flat class="my-selector mt-0 mb-4 py-0"
              ></v-select>
            </div>
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">ชื่อบัญชีธนาคาร</p>
            <input class="my-input" style="width:50%;" v-model="loginInfo.account_name">
          </v-layout>

          <v-layout align-baseline class="field-and-label">
            <p class="special-p">เลขบัญชีธนาคาร</p>
            <input class="my-input" style="width:40%;" v-model="loginInfo.bank_account">
          </v-layout>

          <v-layout row class="mb-4">
            <v-flex class="text-xs-right confirm-edit-btns-div">
              <v-btn large color="white"
                class="confirm-edit-btns"
                @click="switchToViewProfile()"
              >
                ยกเลิก
              </v-btn>
              <v-btn
                dark
                large
                color="#7455F4"
                class="confirm-edit-btns"
                @click="changeProfile()"
              >บันทึก</v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-layout>
    </div>
  </div>
</template>

<script>
import ShopService from '../services/ShopService';

export default {
  name: 'ShopProfile',
  data: () => ({
    viewProfile: true,
    editProfile: false,
    loginInfo: {
      fname: '',
      lname: '',
      email: '',
    },
    bank_name_array: [
      'ธนาคารกรุงเทพ',
      'ธนาคารกสิกรไทย',
      'ธนาคารไทยพาณิชย์',
      'ธนาคารกรุงไทย',
      'ธนาคารกรุงศรีอยุธยา',
    ],
    snackbar: false,
    sncolor: '',
    sntimeout: 5000,
    sntext: '',
  }),
  async mounted() {
    const x = await ShopService.getUserInfo();
    this.loginInfo = x.data;
    const y = await ShopService.getShopLocation();
    this.loginInfo.shop_location = y.data;
  },
  methods: {
    switchToViewProfile() {
      this.viewProfile = true;
      this.editProfile = false;
    },
    switchToEditProfile() {
      this.viewProfile = false;
      this.editProfile = true;
    },
    async changeProfile() {
      const obj = {
        account_name: this.loginInfo.account_name,
        bank_account: this.loginInfo.bank_account,
        fname: this.loginInfo.fname,
        lname: this.loginInfo.lname,
        telephone: this.loginInfo.telephone,
        shop_name: this.loginInfo.shop_name,
        shop_location: this.loginInfo.shop_location,
        bank_name: this.loginInfo.bank_name,
      };
      try {
        await ShopService.changeProfile(obj);
        // eslint-disable-next-line
        location.reload();
      } catch (e) {
        this.snackbar = true;
        this.sncolor = 'error';
        if (e.response) {
          this.sntext = e.response.data;
        } else if (e.request) {
          this.sntext = 'ไม่สามารถเชื่อมต่อกับระบบได้';
        }
      }
    },
  },
};

</script>

<style scoped>
.confirm-edit-btns {
  width:160px;
}

.edit-info-input {
  margin-left: 15%;
}

.field-and-label {
  display: flex;
  flex-direction: row;
}

.info-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  margin-left: 30%;
  margin-right: 20%;
}

.my-input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.my-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
}

.my-selector {
  height: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.payment-container {
  padding-top: 80px;
  margin-left: 22vw;
  margin-right: 22vw;
  padding-bottom: 80px;
}

.my-subhead {
  font-size: 1.2em;
  margin-left:22%;
}

.my-subhead2 {
  font-size: 1.2em;
  margin-left:8%;
}

.special-p {
  width: 150px;
  font-size: 1.2em;
}

.whitebox {
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.profile-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .whitebox {
    border-radius: 0px;
    margin-bottom: 0px !important;
  }
  .info-grid {
    margin-left: 10%;
    margin-right: 8%;
  }
  .payment-container {
    padding-top: 80px;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-bottom: 80px;
  }
  .my-subhead {
    margin-left:5%;
  }
  .payment-container {
    padding-top: 56px;
  }
  .profile-header-div {
    flex-direction: column;
    align-items: center;
  }
  .field-and-label {
    flex-direction: column;
  }
  .edit-info-input {
    margin: 0;
  }
  .my-input {
    width: 100% !important;
  }
  .confirm-edit-btns {
    width: 100%;
  }
  .confirm-edit-btns-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
