<template>
  <div class="thai-font">
    <v-btn :color="this.btnColor" dark>{{this.btnText}}</v-btn>
  </div>
</template>

<script>
export default {
  name: 'StatusButton',
  props: {
    state: String,
  },
  mounted() {
    this.initialize();
  },
  data: () => ({
    btnColor: '',
    btnText: '',
  }),
  watch: {
    state() {
      this.initialize();
    },
  },
  methods: {
    initialize() {
      switch (this.state) {
        case 'waiting':
          this.btnColor = '#FFBA69';
          this.btnText = 'รออนุมัติ';
          break;
        case 'confirm':
          this.btnColor = '#59D67C';
          this.btnText = 'อนุมัติแล้ว';
          break;
        case 'end':
          this.btnColor = '#6599FF';
          this.btnText = 'สิ้นสุด';
          break;
        case 'cancel':
          this.btnColor = '#A0A0A0';
          this.btnText = 'ยกเลิก';
          break;
        case 'reject':
          this.btnColor = '#FF6969';
          this.btnText = 'ไม่อนุมัติ';
          break;
        default:
          this.btnColor = 'black';
          this.btnText = 'Error';
      }
    },
  },
};
</script>

<style scoped>
</style>
