<template>
  <v-app>
    <div id="app">
      <transition name="fade">
        <router-view/>
      </transition>
    </div>
  </v-app>
</template>

<style>
@font-face {
  font-family: "Noto Thai";
  src: url("./assets/NotoSansThai-Regular.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

#app {
  font-family: "Noto Thai";
  color: #333333;
  background: white;
}

.thai-font {
  font-family: "Noto Thai" !important;
}

.english-font {
  font-family: "Noto Sans", sans-serif !important;
}

#nav {
  padding: 0px;
  color: #ffffff;
}

#nav a {
  font-weight: bold;
  color: #ffffff;
}

#nav a.router-link-exact-active {
  color: #ffffff;
}

.menu {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Noto Thai;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>
